<div class="row">
    
    <div class="col-md-12">
        <div widget class="card">
            <div class="card-header">
                <span>Cuenta</span>
                <div class="widget-controls">              
  
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
         
                </div>        
            </div>
            <div class="card-block widget-body">
                 <div *ngIf="toast" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong>
                </div>
                <div class="col-lg-12 col-12 bottom-30">
                        <div class="clearfix">
                            <ul class="nav nav-tabs top pull-left w-100p">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#ta">Datos de la cuenta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tb">Imagenes</a>
                                </li>
                           
                            
                                                      
                            </ul>
                        </div>
                        <div class="tab-content top">
                            <div class="tab-pane active" id="ta">
                                    <form  [formGroup]="formAccount">
                                                <div class="col-md-6">

                                                <div class="form-group">
                                                    <label for="input-1">Nombre</label>
                                                    <input formControlName="name" type="text" class="form-control" >

                                                </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <label class="form-control-label">Apellido</label>
                                                        <input formControlName="lastName" type="text" class="form-control" >
                                                    </div>
                                                <div class="col-md-6 ">
                                                    <h6>Mail</h6>
                                                    <div class="form-group">
                                                            <input formControlName="mail" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <h6>Fecha de Nacimiento</h6>
                                                    <div class="form-group">
                                                            <input formControlName="dateBirthday" type="date" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <h6>Telefono</h6>
                                                    <div class="form-group">
                                                            <input formControlName="phone" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <h6>Telefono</h6>
                                                    <div class="form-group">
                                                            <input formControlName="phone" type="text" class="form-control" >
                                                    </div>
                                                </div>

                                            </form>
                            </div>
                            <div class="tab-pane" id="tb">

                                    <div class="col-md-6">
                                        <az-image-uploader (changed)="formatRequest($event)"></az-image-uploader>
                                    </div>
                           
                          
                           
                        </div>  
                                        
                    </div>
                    

                
                 
              
            </div>
            <button [disabled]="!formAccount.valid" (click)="saveAccount()" type="submit" class="btn btn-primary"> Actualizar </button>
        </div>
    </div>
    </div>