<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">

                <span class="text-uppercase">Listado de autos</span>

                <div class="widget-controls"> 
                     <div class="col-md-4">
                               <button data-toggle="modal" data-target="#new-city" class="btn btn-primary btn-rounded pull-right" ><i class="fa fa-plus"></i></button>
                        </div>                        
                   
                </div>        
            </div>
            
            <div class="card-block widget-body">
                  

                        <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{message}} </strong> 
                        </div>
                       
                        <div *ngIf="toast" class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{message}}</strong> 
                        </div>
                
                <button data-toggle="collapse" data-target="#filters" class="btn btn-primary"><i class="fa fa-filter"></i></button>

                <div class="collapse" id="filters" style="margin: 20px;">
                    <div class="row form-group" >
                        <div class="col-md-3"><label for="">Fecha Inicio</label><input [(ngModel)]="searchStart" class="form-control" type="date"></div>
                        <div class="col-md-3"><label for="">Fecha Fin</label><input [(ngModel)]="searchEnd" class="form-control" type="date"></div>
                        <div class="col-md-2"> <label for="">Placa</label>  <input [(ngModel)]="searchPlaca" class="form-control" type="text" name="" id=""></div>
                        <div class="col-md-2"><label for="">Chasis</label><input [(ngModel)]="searchChasis" class="form-control" type="text" name="" id=""></div>
                        <div class="col-md-1"><button style="margin-top: 20px;" (click)="search()" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                    </div>
                </div>
                <div class="table-responsive datatable">
                    <table class="table table-striped table-hover table-sm" [mfData]="branchData  | SearchPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th> <mfDefaultSorter by="name">Placa</mfDefaultSorter></th>                              
                                <th><mfDefaultSorter by="phone">Marca</mfDefaultSorter></th>
                                 <th><mfDefaultSorter by="phone">Modelo</mfDefaultSorter></th> 
                                 <th><mfDefaultSorter by="phone">Cliente</mfDefaultSorter></th>
                      

                                <th>Acciones</th>      
                            </tr>
                        </thead>
                        <tbody>                           

                            <tr *ngFor="let auto of autos">
                                    <td><strong>  {{auto.placa}}   </strong></td>
                                <td><strong>  {{auto.carBrand.name}}   </strong></td>
                                <td>{{auto.carModel.name}}</td>
                                 <td>{{auto.client.name }} {{auto.client.lastName }}</td>
              
                               

                                <td class="row col  bottom-15">
                                  
                                      <div class="d-inline-block">
                                                <div class="row">


                                                        <button type="button" (click)="autoDetail(auto)" class="btn btn-primary" data-toggle="modal" data-target="#new-city">Editar</button>

                                                                
                        

                                                        <button type="button" (click)="idAssign(auto._id)" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Borrar</button>

                                                                        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header state modal-danger">                                    
                                                                                        <h4 class="modal-title" id="modal-error-label"><i class="fa fa-exclamation-triangle"></i>Estas Seguro?</h4>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                       <!--Esta seguro-->
                                                                                       {{messages.sure_delete}}
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button (click)="deleteauto()" type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                </div>
                                                
                                            </div>
                                </td>
                                </tr>
                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="new-city" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header state modal-primary">
                                    <h4 class="modal-title" id="modal-label"><i class="fa fa-car"></i>Nuevo auto</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                        <div *ngIf="error"  class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{message}} </strong> 
                                            </div>
                                        <div class="col-lg-12 col-12 bottom-30">
                                                <div class="clearfix">
                                                    <ul class="nav nav-tabs top pull-left w-100p">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#ta">Datos de Auto</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#tb">Subir desde Excel</a>
                                                        </li>                          
                                                    </ul>
                                                </div>
                                                <div class="tab-content top">
                                                    <div class="tab-pane active" id="ta">
                                                            <form  [formGroup]="autoForm"  class="row">
                                                                    <div class="col-md-6">  
                                                                         <label for="exampleSelect1">Cliente</label>
                                                                                        <select formControlName="idClient" class="form-control">
                                                                                            <option *ngFor="let client of clientes" value="{{client._id}}">{{client.name}}</option>
                                                                                         </select>
                            
                                                                         <label for="exampleSelect1">Marca</label>
                                                                                        <select formControlName="idCarBrand" class="form-control">
                                                                                            <option *ngFor="let marca of carBrands" value="{{marca._id}}">{{marca.name}}</option>
                                                                                         </select>
                                                                        <label for="exampleSelect1">Color</label>
                                                                                        <select formControlName="idCarColor" class="form-control">
                                                                                            <option *ngFor="let color of carColors" value="{{color._id}}">{{color.name}}</option>
                                                                                        </select>
                            
                                                                    <div class="form-group " [ngClass]="{'has-danger' : autoForm.get('chasis').value != '' && autoForm.get('chasis').hasError('required'), 'has-success' : !autoForm.get('chasis').hasError('required') }">
                                                                                <label class="form-control-label">Chasis*</label>
                                                                                <div class="input-group">
                                                                                        <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                                        <input formControlName="chasis" class="form-control" [ngClass]="{'form-control-danger' :  autoForm.get('chasis').hasError('required'), 'form-control-success' :  !autoForm.get('chasis').hasError('required') }" type="text"> 
                                                                                </div>
                                                                            
                                                                                <span class="help-block text-danger" *ngIf="autoForm.get('chasis').value != '' && autoForm.get('chasis').hasError('required')">Chasis no puede estar vacio</span>                             
                                                                    </div>
                            
                                                                     <div class="form-group " [ngClass]="{'has-danger' : autoForm.get('placa').value != '' && autoForm.get('placa').hasError('required'), 'has-success' : !autoForm.get('placa').hasError('required') }">
                                                                                        <label class="form-control-label">Placa*</label>
                                                                                        <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                                                <input formControlName="placa" class="form-control" [ngClass]="{'form-control-danger' :  autoForm.get('placa').hasError('required'), 'form-control-success' :  !autoForm.get('placa').hasError('required') }" type="text"> 
                                                                                        </div>
                                                                            
                                                                                <span class="help-block text-danger" *ngIf="autoForm.get('placa').value != '' && autoForm.get('placa').hasError('required')">Placa</span>                             
                                                                                </div>
                                                                         <label for="exampleSelect1">Uso de Carro</label>
                                                                                        <select formControlName="carUse" class="form-control">
                                                                                            <option *ngFor="let uso of carUses" value="{{uso.name}}">{{uso.name}}</option>
                                                                                         </select>
                                                                        <div class="form-group">
                                                                                 <label class="form-control-label">Extras*</label>
                                                                             <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                                    <input formControlName="extras" type="number" class="form-control">
                                                                                </div>
                            
                                                                        </div>
                                                                            
                            
                                                                    </div>
                                                                    <div class="col-md-6">
                            
                                                                               <label for="exampleSelect1">Ramo</label>
                                                                                        <select formControlName="idRamo" class="form-control">
                                                                                            <option *ngFor="let ramo of ramos" value="{{ramo._id}}">{{ramo.name}}</option>  
                                                                                         </select>
                            
                                                                                <label for="exampleSelect1">Modelo</label>
                                                                                        <select  formControlName="idCarModel" class="form-control">
                                                                                            <option *ngFor="let modelo of carModels" value="{{modelo._id}}">{{modelo.name}}</option>
                                                                                         </select>
                            
                                                                                  <div class="form-group " [ngClass]="{'has-danger' : autoForm.get('motor').value != '' && autoForm.get('motor').hasError('required'), 'has-success' : !autoForm.get('motor').hasError('required') }">
                                                                                        <label class="form-control-label">Motor*</label>
                                                                                        <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                                                <input formControlName="motor" class="form-control" [ngClass]="{'form-control-danger' :  autoForm.get('motor').hasError('required'), 'form-control-success' :  !autoForm.get('motor').hasError('required') }" type="text"> 
                                                                                        </div>
                                                                            
                                                                                <span class="help-block text-danger" *ngIf="autoForm.get('motor').value != '' && autoForm.get('motor').hasError('required')">Motor</span>                             
                                                                                </div>
                            
                                                                              <div class="form-group">
                                                                                 <label class="form-control-label">Extra Valor*</label>
                                                                             <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                                    <input formControlName="extrasValue" type="text" class="form-control">
                                                                                </div>
                            
                                                                        </div>
                                                                    </div>
                                                                    
                            
                                                                
                                                            </form>
                                                    </div>
                                                    <div class="tab-pane" id="tb">
                                                       <input (change)="changeFile($event)"  type="file">
                                                    </div>
                                                                  
                                            </div>
                                     
                                   
                                </div>
                                <div class="modal-footer">

                                    <button *ngIf="!editMode" [disabled]="!autoForm.valid" (click)="saveauto()" type="button" class="btn btn-primary" data-dismiss="modal">Crear</button>
                                    <button *ngIf="editMode" [disabled]="!autoForm.valid" (click)="editauto()" type="button" class="btn btn-primary" data-dismiss="modal">Cambiar</button>

                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
</div>

 <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
        <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header state modal-primary">                                    
                    <h4 class="modal-title" id="modal-primary-label"><i class="fa  fa-car"></i>Editar auto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                    <div class="">
                    <div widget class="card">

                    <div class="card-block widget-body">

                                <form  [formGroup]="editForm"  class="row">
                                            <div class="col-md-6">  
                                                    <label for="exampleSelect1">Cliente</label>
                                                            <select formControlName="idClient" class="form-control">
                                                                <option *ngFor="let client of clientes" value="{{client._id}}">{{client.name}}</option>
                                                            </select>
                                             <label for="exampleSelect1">Marca</label>
                                                            <select formControlName="idCarBrand" class="form-control">
                                                                <option *ngFor="let marca of carBrands" value="{{marca._id}}">{{marca.name}}</option>
                                                             </select>
                                            <label for="exampleSelect1">Color</label>
                                                            <select formControlName="idCarColor" class="form-control">
                                                                <option *ngFor="let color of carColors" value="{{color._id}}">{{color.name}}</option>
                                                            </select>

                                        <div class="form-group " [ngClass]="{'has-danger' : autoForm.get('chasis').value != '' && autoForm.get('chasis').hasError('required'), 'has-success' : !autoForm.get('chasis').hasError('required') }">
                                                    <label class="form-control-label">Chasis*</label>
                                                    <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                            <input formControlName="chasis" class="form-control" [ngClass]="{'form-control-danger' :  autoForm.get('chasis').hasError('required'), 'form-control-success' :  !autoForm.get('chasis').hasError('required') }" type="text"> 
                                                    </div>
                                                
                                                    <span class="help-block text-danger" *ngIf="autoForm.get('chasis').value != '' && autoForm.get('chasis').hasError('required')">Chasis no puede estar vacio</span>                             
                                        </div>

                                         <div class="form-group " [ngClass]="{'has-danger' : autoForm.get('placa').value != '' && autoForm.get('placa').hasError('required'), 'has-success' : !autoForm.get('placa').hasError('required') }">
                                                            <label class="form-control-label">Placa*</label>
                                                            <div class="input-group">
                                                                    <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                    <input formControlName="placa" class="form-control" [ngClass]="{'form-control-danger' :  autoForm.get('placa').hasError('required'), 'form-control-success' :  !autoForm.get('placa').hasError('required') }" type="text"> 
                                                            </div>
                                                
                                                    <span class="help-block text-danger" *ngIf="autoForm.get('placa').value != '' && autoForm.get('placa').hasError('required')">Placa</span>                             
                                                    </div>
                                             <label for="exampleSelect1">Uso de Carro</label>
                                                            <select formControlName="carUse" class="form-control">
                                                                <option *ngFor="let uso of carUses" value="{{uso.name}}">{{uso.name}}</option>
                                                             </select>
                                            <div class="form-group">
                                                     <label class="form-control-label">Extras*</label>
                                                 <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                        <input formControlName="extras" type="text" class="form-control">
                                                    </div>

                                            </div>
                                                

                                        </div>
                                        <div class="col-md-6">

                                                   <label for="exampleSelect1">Ramo</label>
                                                            <select formControlName="idRamo" class="form-control">
                                                                <option *ngFor="let ramo of ramos" value="{{ramo._id}}">{{ramo.name}}</option>  
                                                             </select>

                                                    <label for="exampleSelect1">Modelo</label>
                                                            <select  formControlName="idCarModel" class="form-control">
                                                                <option *ngFor="let modelo of carModels" value="{{modelo._id}}">{{modelo.name}}</option>
                                                             </select>

                                                      <div class="form-group " [ngClass]="{'has-danger' : autoForm.get('motor').value != '' && autoForm.get('motor').hasError('required'), 'has-success' : !autoForm.get('motor').hasError('required') }">
                                                            <label class="form-control-label">Motor*</label>
                                                            <div class="input-group">
                                                                    <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                                    <input formControlName="motor" class="form-control" [ngClass]="{'form-control-danger' :  autoForm.get('motor').hasError('required'), 'form-control-success' :  !autoForm.get('motor').hasError('required') }" type="text"> 
                                                            </div>
                                                
                                                    <span class="help-block text-danger" *ngIf="autoForm.get('motor').value != '' && autoForm.get('motor').hasError('required')">Motor</span>                             
                                                    </div>

                                                  <div class="form-group">
                                                     <label class="form-control-label">Extra Valor*</label>
                                                 <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-car"></i></div>
                                                        <input formControlName="extrasValue" type="number" class="form-control">
                                                    </div>

                                            </div>
                                        </div>

                                        


                                    
                                    </form>

                        
                        


                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                    <button [disabled]="!editForm.valid" (click)="editauto()" type="button" class="btn btn-primary" data-dismiss="modal">Cambiar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                    </div>
                    </div>
                    </div>


