<div class="row">
    
    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>DEFAULT</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">

                <p>Use the <code>list-group-item</code> class inside a <code>list-group</code> element.</p>

                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
        </div>
    </div>

     <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>WITH TAGS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">

                <p>Add badges to any list group item to show unread counts, activity, etc.</p>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">                        
                        Cras justo odio
                        <span class="badge badge-main badge-pill">14</span>
                    </li>
                    <li class="list-group-item justify-content-between">                       
                        Dapibus ac facilisis in
                        <span class="badge badge-main badge-pill">22</span>
                    </li>
                    <li class="list-group-item justify-content-between">                        
                        Morbi leo risus
                        <span class="badge badge-main badge-pill">31</span>
                    </li>
                    <li class="list-group-item justify-content-between">                        
                        Porta ac consectetur ac
                        <span class="badge badge-main badge-pill">17</span>
                    </li>
                    <li class="list-group-item justify-content-between">                        
                        Vestibulum at eros
                        <span class="badge badge-main badge-pill">44</span>
                    </li>
                </ul>            

            </div>
        </div>
    </div>

</div>

<div class="row">
    
    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>DISABLED ITEM</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">

                <p>Add <code>disabled</code> to a <code>list-group-item</code> to show it as disabled.</p>

               <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item disabled">
                        Cras justo odio
                    </a>
                    <a href="javascript:void(0);" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="javascript:void(0);" class="list-group-item">Morbi leo risus</a>
                    <a href="javascript:void(0);" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="javascript:void(0);" class="list-group-item">Vestibulum at eros</a>
                </div>

            </div>
        </div>
    </div>

     <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>ACTIONS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">

                <p>Use anchors or buttons to create actionable list group items with hover, disabled, and active states by adding <code>list-group-item-action</code>. This separate class contains a few overrides to add compatibility for <code>&lt;a&gt;</code>s and <code>&lt;button&gt;</code>s, as well as the hover and focus states.</p>

               <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item active">
                        Cras justo odio
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action">Morbi leo risus</a>                   
                </div>        

            </div>
        </div>
    </div>

</div>

<div class="row mbm-20">
    
    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>CONTEXTUAL CLASSES</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                <p>Use contextual classes to style list items, default or linked.</p>
                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-primary">Cras justo odio</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-success">Dapibus ac facilisis in</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info">Cras sit amet nibh libero</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-warning">Porta ac consectetur ac</a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-danger">Vestibulum at eros</a>
                </div>

            </div>
        </div>
    </div>

     <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>CUSTOM CONTENT</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">

                <div class="list-group">
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action active">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </a>
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>