<div class="row bottom-30">
  <div class="col">
        <div widget class="card">
          <div class="card-header">
            <span>INLINE FORM</span>
            <div class="widget-controls"> 
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
          </div>
          <div class="card-block widget-body"> 
                <h5 class="card-title">Stacked to horizontal</h5>
                <p>Using a single set of <code>.col-md-*</code> grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns within any <code>.row</code>.</p>

                <div class="row bottom-15 grid">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">.col-md-12</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-block">.col-md-6</div>
                        </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-block">.col-md-6</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">.col-md-4</div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">.col-md-4</div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">.col-md-4</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-3</div>
                        </div>                    
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-3</div>
                        </div>                    
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-3</div>
                        </div>                    
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-3</div>
                        </div>                    
                    </div>
                </div>
                
                <div class="row bottom-15 grid">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">.col-md-2</div>
                        </div>                    
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">.col-md-2</div>
                        </div>                    
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">.col-md-2</div>
                        </div>                    
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">.col-md-2</div>
                        </div>                    
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">.col-md-2</div>
                        </div>                    
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-block">.col-md-2</div>
                        </div>                    
                    </div>              
                </div>

                <div class="row bottom-15 grid">   
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>
                    <div class="col-md-1">
                        <div class="card">
                            <div class="card-block">.col-md-1</div>
                        </div>                    
                    </div>               
                </div>

                <hr>
                <h5 class="card-title">Mobile and desktop</h5>
                <p>Don’t want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding <code>.col-*</code> and <code>.col-md-*</code> to your columns. See the example below for a better idea of how it all works.</p>

                <div class="row bottom-15 grid">
                    <div class="col-12 col-md-8">
                        <div class="card">
                            <div class="card-block">.col-12 .col-md-8</div>
                        </div>                   
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-md-4</div>
                        </div> 
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-md-4</div>
                        </div>                    
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-md-4</div>
                        </div>                    
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-md-4</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-block">.col-6</div>
                        </div>                    
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-block">.col-6</div>
                        </div>                    
                    </div>
                </div>

                <hr>
                <h5 class="card-title">Mobile, tablet, desktop</h5>
                <p>Build on the previous example by creating even more dynamic and powerful layouts with tablet <code>.col-sm-*</code> classes.</p>

                <div class="row bottom-15 grid">
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="card">
                            <div class="card-block">.col-12 .col-sm-6 .col-md-8</div>
                        </div>                   
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-md-4</div>
                        </div> 
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-6 col-sm-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-sm-4</div>
                        </div>                    
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-sm-4</div>
                        </div>                    
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="card">
                            <div class="card-block">.col-6 .col-sm-4</div>
                        </div>                    
                    </div>
                </div>

                <hr>
                <h5 class="card-title">Column wrapping</h5>
                <p>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.</p>

                <div class="row bottom-15 grid">
                    <div class="col-9">
                        <div class="card">
                            <div class="card-block">.col-9</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-block">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
                        </div>                    
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-block">.col-6<br>Subsequent columns continue along the new line.</div>
                        </div>                    
                    </div>
                </div>  

                <hr>
                <h5 class="card-title">Offsetting columns</h5>
                <p>Move columns to the right using <code>.offset-md-*</code> classes. These classes increase the left margin of a column by <code>*</code> columns. For example, <code>.offset-md-4</code> moves <code>.col-md-4</code> over four columns.</p>        

                <div class="row bottom-15 grid">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">.col-md-4</div>
                        </div>                    
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <div class="card">
                            <div class="card-block">.col-md-4 .offset-md-4</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-md-3 offset-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-3 .offset-md-3</div>
                        </div>                    
                    </div>
                    <div class="col-md-3 offset-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-3 .offset-md-3</div>
                        </div>                    
                    </div>
                </div>

                <div class="row bottom-15 grid">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-block">.col-md-6 .offset-md-3</div>
                        </div>                    
                    </div>
                </div>

                <hr>
                <h5 class="card-title">Column ordering</h5>

                <div class="row bottom-15 grid">
                    <div class="col-md-3 col-md-pull-9">
                        <div class="card">
                            <div class="card-block">.col-md-3 .col-md-pull-9</div>
                        </div>                    
                    </div>
                    <div class="col-md-9 col-md-push-3">
                        <div class="card">
                            <div class="card-block">.col-md-9 .col-md-push-3</div>
                        </div>                    
                    </div>
                </div>
            

            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
  <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>GRID OPTIONS</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a> 
                </div>        
            </div>
            <div class="card-block widget-body"> 

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th> Extra small devices
                                    <small>Phones (&lt;576px)</small>
                                </th>
                                <th> Small devices
                                    <small>Tablets (≥576px)</small>
                                </th>
                                <th> Medium devices
                                    <small>Desktops (≥768px)</small>
                                </th>
                                <th> Large devices
                                    <small>Desktops (≥992px)</small>
                                </th>
                                <th> Large devices
                                    <small>Desktops (≥1200px)</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-nowrap" scope="row">Grid behavior</th>
                                <td>Horizontal at all times</td>
                                <td colspan="4">Collapsed to start, horizontal above breakpoints</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Container width</th>
                                <td>None (auto)</td>
                                <td>540px</td>
                                <td>720px</td>
                                <td>940px</td>
                                <td>1140px</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Class prefix</th>
                                <td><code>.col-</code></td>
                                <td><code>.col-sm-</code></td>
                                <td><code>.col-md-</code></td>
                                <td><code>.col-lg-</code></td>
                                <td><code>.col-xl-</code></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row"># of columns</th>
                                <td colspan="5">12</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Gutter width</th>
                                <td colspan="5">1.875rem / 30px (15px on each side of a column)</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Nestable</th>
                                <td colspan="5">Yes</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Offsets</th>
                                <td colspan="5">Yes</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Column ordering</th>
                                <td colspan="5">Yes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
         
            </div>
        </div>
    </div>
</div>

<div class="row mbm-20">
  <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>RESPONSIVE UTILITIES</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 

              <div class="table-responsive">
                   <table class="table table-bordered responsive-utilities">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                            Extra small devices
                            <small>Portrait phones (&lt;544px)</small>
                            </th>
                            <th>
                            Small devices
                            <small>Landscape phones (≥544px - &lt;768px)</small>
                            </th>
                            <th>
                            Medium devices
                            <small>Tablets (≥768px - &lt;992px)</small>
                            </th>
                            <th>
                            Large devices
                            <small>Desktops (≥992px - &lt;1200px)</small>
                            </th>
                            <th>
                            Extra large devices
                            <small>Desktops (≥1200px)</small>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><code>.hidden-xs-down</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-sm-down</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-md-down</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-lg-down</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-visible">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-xl-down</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-xs-up</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-sm-up</code></th>
                            <td class="is-visible">Visible</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-md-up</code></th>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-lg-up</code></th>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-xl-up</code></th>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-visible">Visible</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
