<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>GENERAL</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="row mbm-20">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card">
                            <div class="card-header">
                                Default card
                            </div>
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                card footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">       
                        <div class="card card-primary">
                            <div class="card-header">
                                Primary card
                            </div>
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                card footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">       
                        <div class="card card-success">
                            <div class="card-header">
                                Success card
                            </div>
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                card footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-info">
                            <div class="card-header">
                                Info card
                            </div>
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                card footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-warning">
                            <div class="card-header">
                                Warning card
                            </div>
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                card footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-danger">
                            <div class="card-header">
                                Danger card
                            </div>
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                card footer
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>OUTLINE CARD</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 

                <div class="row mbm-20">   
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-outline-default text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">       
                        <div class="card card-outline-primary text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">       
                        <div class="card card-outline-success text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-outline-info text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-outline-warning text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 bottom-30">              
                        <div class="card card-outline-danger text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>                           

            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>CARD WITH IMAGE</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="row mbm-20">   
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 bottom-30">              
                        <div class="card card-success">
                            <img class="card-img-top w-100" src="assets/img/app/snow.jpg" alt="Card image cap">
                            <div class="card-block"> Card image top </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 bottom-30">       
                        <div class="card card-info">
                            <div class="card-header">
                                Card middle image
                            </div>
                            <img class="w-100" src="assets/img/app/snow.jpg" alt="Card image">
                            <div class="card-footer text-right">
                                Card footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 bottom-30">       
                        <div class="card card-danger">
                            <div class="card-block"> Card bottom image </div>
                            <img class="card-img-bottom w-100" src="assets/img/app/snow.jpg" alt="Card image cap">
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>CARD WITH OVERLAY</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="row mbm-20">   
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 bottom-30">              
                        <div class="card overlay">
                            <img class="card-img w-100 transition" src="assets/img/app/sky-full.jpg" alt="Card image">
                            <div class="card-img-overlay slide-down transition">
                                <h6>I'm text that has a background image!</h6>
                            </div>
                            <div class="card-img-overlay overlay-bottom text-right slide-up transition">
                                Lorem ipsum
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 bottom-30">       
                        <div class="card overlay">
                            <img class="card-img w-100 transition" src="assets/img/app/sky-full.jpg" alt="Card image">
                            <div class="card-img-overlay slide-left transition">
                                <h6>I'm text that has a background image!</h6>
                            </div>
                            <div class="card-img-overlay overlay-bottom text-right slide-right transition">
                                Lorem ipsum
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 bottom-30">       
                        <div class="card overlay">
                            <img class="card-img w-100 transition" src="assets/img/app/sky-full.jpg" alt="Card image">
                            <div class="card-img-overlay hover-opacity transition">
                                <h6>I'm text that has a background image!</h6>
                            </div>
                            <div class="card-img-overlay overlay-bottom text-right hover-opacity transition">
                                Lorem ipsum
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>CARD GROUP</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">                 
                <div class="row">   
                    <div class="col">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>CARD WRAPPER</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="row">   
                    <div class="col">
                        <div class="card-deck-wrapper">
                            <div class="card-deck">
                                <div class="card card-info">
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                                <div class="card card-info">
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                                <div class="card card-info">
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>CARD COLUMNS</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                <div class="row">   
                    <div class="col">
                        <div class="card-columns">
                            <div class="card card-success">
                                <div class="card-block">
                                    <h4 class="card-title">Card title that wraps to a new line</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                            <div class="card card-block">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>
                                        <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                        </small>
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card card-block card-inverse card-primary text-center">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                                    <footer>
                                        <small>
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                        </small>
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="card card-danger card-block text-right">
                                <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>
                                        <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                        </small>
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="card card-warning card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

