<div class="row">
    <div class="col">

        <div widget class="card">
            <div class="card-header">
                <span>CALENDAR with Draggable Events</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body row"> 

                <div class="col-xl-4 col-lg-3 col-12">                  
                    <div class="card-block">

                        <h4>Draggable <span class="fw-semi-bold">Events</span></h4>
                        <p>Just drap and drop events from there directly into the calendar.</p>

                        <div class="btn btn-primary btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-primary text-white">
                            Client Meeting 
                        </div>
                        <div class="btn btn-success btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-success text-white">
                            Repeating Event
                        </div>
                        <div class="btn btn-dark btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-dark text-white">
                            Anniversary of the death of Adam 
                        </div>
                        <div class="btn btn-info btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-info text-white">
                            Product Seminar
                        </div>
                        <div class="btn btn-warning btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-warning text-white">
                            Anniversary Celebrations
                        </div>
                        <div class="btn btn-danger btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-danger text-white">
                            Search for a job
                        </div>
                        <div class="btn btn-main btn-block btn-sm text-left draggable text-truncate" data-event-class="bg-main text-white">
                            Pay internet bills online
                        </div>                           
                            
                    </div>
                </div>

                <div class="col-xl-8 col-lg-9 col-12">
                   
                    <div class="card-block">
                        
                            <div id="calendar"></div>  
                    
                            <div class="modal fade" id="show-event-modal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header modal-info">                                            
                                            <h5 *ngIf="event.title" class="modal-title">{{ event.title }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p><i class="fa fa-calendar"></i> &nbsp; {{ event.start | date: 'EEE MMM d y hh:mm a' }}</p>
                                            <p *ngIf="event.end"><i class="fa fa-clock-o"></i> &nbsp; {{ event.end | date: 'EEE MMM d y hh:mm a' }}</p>
                                            <p *ngIf="event.description">{{ event.description }}</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="create-event-modal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header modal-success d-block">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>                                       
                                            <h5 class="modal-title">New Event</h5>
                                            <p class="text-muted no-margin"> Just enter event name to create a new one </p>                                            
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="event.title" type="text" placeholder="Enter event here...">                                                
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                                            <button (click)="createEvent()" class="btn btn-success">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        
                    </div>                 
                  
                </div>

            </div>
        </div>
      
    </div>
</div>

