    <div class="row">
        <div class="col">
            <div class="col-md-12">
             <div widget class="card">
            <div class="card-header">
                <span>Cambiar configuracion</span>
                <div class="widget-controls">              
               
                    <div (click)="enableFields()" href="#" class="transition"><i class="fa fa-pencil"></i></div>
                    
                </div>        
            </div>
            <div class="card-block widget-body">

                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Verificar campos en rojo</strong>
                  
                </div>

                <div *ngIf="empty" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Verificar campos en rojo</strong>
                  
                </div>



                <form  [formGroup]="settingsForm">

                    <div data-toggle="modal" data-target="#addressModal" class="list-group-item list-group-item-action">  

                        <div class="col-10">
                                Direcciones Permitidas
                            </div> 
                        <div class="col-2">
                                <span class="badge badge-main badge-pill primary">{{addresses.length}}</span>
                               
                            </div>    
                    </div>
                        
                     <div data-toggle="modal" data-target="#maritalModal" class="list-group-item list-group-item-action">  

                        <div class="col-10">
                                Estatus Maritales
                            </div> 
                        <div class="col-2">
                                <span class="badge badge-main badge-pill primary">{{maritalStatuses.length}}</span>
                               
                            </div>    
                    </div>

                    <div class="form-group">
                        <label for="input-1">IVA</label>
                        <input formControlName="iva" type="number" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label for="input-1">Tiempo de Conexion</label>
                        <input  formControlName="connectionTime" type="number" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label for="input-1">Tamaño maximo de archivos</label>
                        <input formControlName="maxAttached" type="number" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label for="input-1">S. Bancos</label>
                        <input formControlName="sbancos" type="text" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label for="input-1">Seguro Campesino</label>
                        <input formControlName="scampesino" type="number" class="form-control" id="input-1">
                    </div>


                     <button  class="btn btn-primary pull-right" (click)="saveSettings()">Guardar</button>
                </form>
              
            </div>
        </div>
    </div>

        </div>

   
    </div>

    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header state modal-primary">                                    
                    <h4 class="modal-title" id="modal-error-label"><i class="fa fa-desktop"></i>Direcciones Permitidas</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                         <div class="col-md-12">
                                    <div widget class="card">
                                    
                                        <div class="card-block widget-body">

                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>Nombre</th>
                                                        <th>Direccion</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let address of addresses; let i = index">
                                                    
                                                        <td>{{address.name}} </td>
                                                        <td>{{address.mac}}</td>
                                                        <td> <button (click)="deleteMac(i)" type="button" class="btn btn-danger btn-rounded btn-sm">-</button></td>
                                                    
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                 <div class="col-xl-12 col-lg-12 col-12 bottom-30">
                                        <div widget class="card">
                                            
                                            <div class="card-block widget-body">
                                                    <form [formGroup]="addressForm" class="row">

                                                        <div class="form-group col-md-6">
                                                                    <label for="start">Nombre de equipo:</label>
                                                                    <input formControlName="name" type="text" class="form-control" id="start">
                                                        </div>
                                                         <div class="form-group col-md-6" [ngClass]="{'has-danger' : addressForm.get('mac').value != '' && addressForm.get('mac').hasError('invalidMac') || addressForm.get('mac').value != '' && addressForm.get('mac').hasError('required')  , 
                                                                                                       'has-success': addressForm.get('mac').value != '' && !addressForm.get('mac').hasError('invalidMac') && (addressForm.get('mac').value != ''&& !addressForm.get('mac').hasError('required'))                           }"  >
                                                                    <label for="end">Mac address:</label>
                                                                    <input [ngClass]="{'form-control-danger': (addressForm.get('mac').hasError('invalidMac')) || (addressForm.get('mac').hasError('required'))    , 'form-control-success': !addressForm.get('mac').hasError('invalidMac') }"  formControlName="mac" type="text" class="form-control" id="end" maxlength="18">
                                                        </div>
                                                      
                                                        
                                                    
                                                
                                                        
                                                        <button [disabled]="!addressForm.valid || modalError"  class="btn btn-primary pull-right" (click)="addAddress()">Agregar &nbsp;<i class="fa fa-add arrow"></i></button>

                                                    </form>  

                                            

                                            </div>
                                        </div>
                                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
     </div>



     <div class="modal fade" id="maritalModal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header state modal-primary">                                    
                    <h4 class="modal-title" id="modal-error-label"><i class="fa fa-venus-mars"></i>Estatus Maritales</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                         <div class="col-md-12">
                                    <div widget class="card">
                                    
                                        <div class="card-block widget-body">

                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>Nombre</th>
                                            
                                         
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let status of maritalStatuses ">
                                                    
                                                        <td>{{status.name}} </td>
                                           
                                                        <td> <button (click)="rmMarital(status._id)" type="button" class="btn btn-danger btn-rounded btn-sm">-</button></td>
                                                    
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                 <div class="col-xl-12 col-lg-12 col-12 bottom-30">
                                        <div widget class="card">
                                            
                                            <div class="card-block widget-body">
                                                    <div *ngIf="maritalMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <strong>Usted no Tiene Privilegios necesarios para esta accion</strong>
                                                          
                                                        </div>
                                                    <form [formGroup]="maritalForm" class="row">

                                                        <div class="form-group col-md-12">
                                                                    <label for="start">Nombre:</label>
                                                                    <input formControlName="name" type="text" class="form-control" id="start">
                                                        </div>
                                                
                                                      
                                                        
                                                    
                                                
                                                        
                                                        <button [disabled]="!maritalForm.valid || modalError"  class="btn btn-primary pull-right" (click)="addMarital()">Agregar &nbsp;<i class="fa fa-add arrow"></i></button>

                                                    </form>  

                                            

                                            </div>
                                        </div>
                                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
     </div>
   
    