<div class="row leafletmap mbm-20">
  <div class="col">
      <div widget class="card">
          <div class="card-header">
            <span>Leaflet Maps</span>
            <div class="widget-controls"> 
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
          </div>
          <div class="card-block widget-body">              
               <div id="leaflet-map"></div>
          </div>
        </div>
  </div>
</div> 