<form  [formGroup]="polizaForm"  class="row">
        <div class="col-md-6">  
        <div class="form-group">
                
            <label for="exampleSelect1">Ramo</label>
        <ng-select

                (selected)="getTasa()"
                [(options)]="ramos"
                [placeholder]="Aseguradoras"
                [multiple]="false"
                formControlName="idRamo">
            </ng-select>
             
            </div>  
            <div class="form-group">

                <label for="exampleSelect1">Poliza Numero</label>
                <input  type="text" formControlName="policyNumber" class="form-control">
                    

            </div>

            <div class="form-group">

                <label for="exampleSelect1">Certificado</label>
                <input  type="text" formControlName="certificateNumber" class="form-control">
                    

            </div>
            <div class="form-group">    
                <label for="exampleSelect1">Aseguradora</label>
            <ng-select
                    (selected)="getTasa()"
                    [(options)]="insurances"
                    [placeholder]="aseguradoraLabel"
                    [multiple]="false"
                    formControlName="idInsurance">
                </ng-select>     
            </div>


            <div class="form-group">

                <label for="exampleSelect1">Cliente</label>
                <ng-select
                    [(options)]="recipients"
                    [placeholder]="Clientes"
                    [multiple]="false"
                    (selected)="getType($event)"
                    formControlName="idRecipient">
                </ng-select>
                    

            </div>
            <div *ngIf="polizaForm.value.idRamo == '599222d07f05fc0933b643f5' ||  polizaForm.value.idRamo == '599222ce7f05fc0933b643f4' || polizaForm.value.idRamo == '599223167f05fc0933b64403' || polizaForm.value.idRamo == '599223167f05fc0933b64406'" class="form-group">
                    <label for="exampleSelect1">Planes</label>
                    <ng-select
                        [(options)]="plans"
                        [placeholder]="Aseguradoras"
                        [multiple]="false"
                        formControlName="idPlan">
                    </ng-select>

            </div>
           


            <div class="form-group">

                <label for="exampleSelect1">Vigencia Inicio</label>
                <input  type="date" formControlName="startDate" class="form-control">
                    

            </div>

            <div class="form-group">

                <label for="exampleSelect1">Forma Poliza</label>
                <ng-select
                    [(options)]="policyTypes"
                    [placeholder]="Types"
                    [multiple]="false"
                    formControlName="idPolicyType">
                </ng-select>
                    

            </div>

            <div class="form-group">
                
                <label for="exampleSelect1">Tipos de Pago</label> 
                <ng-select
                    [(options)]="paymentTypes"
                    [placeholder]="Types"
                    [multiple]="false"
                    formControlName="idPaymentType">
                </ng-select>
            </div>


        

                                    
            
        </div>

        <div class="col-md-6">

            <div class="form-group">

                <label for="exampleSelect1">Anexo</label>
                <input  type="text" formControlName="annexedNumber" class="form-control">
                                            

            </div>
            <div class="form-group">
                    <label for="exampleSelect1">Ciudad</label>
                    <div class="input-group">
                            <div class="input-group-addon"><i data-toggle="modal" data-target="#add-city" class="fa fa-plus"></i></div>
                            <select formControlName="idCity" class="form-control">
                                    <option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</option>
                                </select>
                    </div>
            </div>

           

            <div class="form-group">

                <label for="exampleSelect1">Porcentaje</label>
                <input type="text" formControlName="percentageRamo" class="form-control">
                    

            </div>

            <div class="form-group">

                <label for="exampleSelect1">Deducible</label>
                <ng-select
                    
                    [(options)]="deductibles"
                    [placeholder]="Deducibles"
                    [multiple]="false"
                    formControlName="idDeductible">
                </ng-select>
                    

            </div>
            <div class="form-group">
                    <label class="custom-control custom-checkbox">
                            <input formControlName="futureYears" type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Años Futuros</span>
                        </label>
            </div>

            <div class="form-group">

                <label for="exampleSelect1">Agente</label>
                <ng-select
                    [(options)]="users"
                    [placeholder]="Usuarios"
                    [multiple]="false"
                    formControlName="idUser">
                </ng-select>
                    

            </div>

            <div class="form-group">

                <label for="exampleSelect1">Asegurado</label>
                <input  type="text" formControlName="insured" class="form-control">
                    

            </div>

            <div class="form-group">

                <label for="exampleSelect1">Vigencia Final</label>
                <input  type="date" formControlName="finishDate" (blur)="getDiffDates()" class="form-control">
                    

            </div>

            <div class="from-group">    
                <label for="exampleSelect1">DiasVigencia </label>
                <input type="text" formControlName="daysofValidity" class="form-control">
            </div>

            <div class="form-group">

                <label for="exampleSelect1">Frecuencia de Pago</label>
                <ng-select
                    [(options)]="frecuencias"
                    [placeholder]="Frecuencia"
                    [multiple]="false"
                    formControlName="idFrequencyPayment">
                </ng-select>
                    

            </div>
            <div class="form-group">

                <label for="exampleSelect1">Fecha Ingreso</label>
                <input  type="date" formControlName="dateAdmission" class="form-control">
                    

            </div>

            <div class="form-group">

                <label for="exampleSelect1">Fecha Anulacion</label>
                <input  type="date" formControlName="dateCancellation" class="form-control">
                    

            </div>

        
        </div>




    
    </form>