<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>GENERAL BUTTON</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body buttons"> 

                <div class="d-inline-block">
                    <button type="button" class="btn btn-secondary">Button Text</button>
                    <p class="card-text"><code>.btn-secondary</code></p>
                </div>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-primary">Button Text</button>
                    <p class="card-text"><code>.btn-primary</code></p>
                </div>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-success">Button Text</button>
                    <p class="card-text"><code>.btn-success</code></p>
                </div>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-info">Button Text</button>
                    <p class="card-text"><code>.btn-info</code></p>
                </div>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-warning">Button Text</button>
                    <p class="card-text"><code>.btn-warning</code></p>
                </div>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-danger">Button Text</button>
                    <p class="card-text"><code>.btn-danger</code></p>
                </div>

                <div class="d-inline-block">
                   <button type="button" class="btn btn-main">Button Text</button>
                    <p class="card-text"><code>.btn-main</code></p>
                </div>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-link">Button Text</button>
                    <p class="card-text"><code>.btn-link</code></p>
                </div>               

            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>ROUNDED BUTTON</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body buttons">
           
                <div class="d-inline-block">
                    <button type="button" class="btn btn-secondary btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-secondary</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>             
                        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-primary btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-primary</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>               

                <div class="d-inline-block">
                    <button type="button" class="btn btn-success btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-success</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>               
            

                <div class="d-inline-block">
                    <button type="button" class="btn btn-info btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-info</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>               
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-warning btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-warning</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>         

                <div class="d-inline-block">
                    <button type="button" class="btn btn-danger btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-danger</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>              

                <div class="d-inline-block">
                    <button type="button" class="btn btn-dark btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-dark</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main btn-rounded">Button Text</button>
                    <p class="card-text"><code>.btn-main</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>             

            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>OUTLINE BUTTON</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body buttons"> 

                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-secondary transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-secondary</code></p>
                </div>
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-primary</code></p>
                </div>                

                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-success transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-success</code></p>
                </div>
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-info transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-info</code></p>
                </div>
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-warning transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-warning</code></p>
                </div>              
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-danger transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-danger</code></p>
                </div>               
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-dark transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-dark</code></p>
                </div>               
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-main transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-main</code></p>
                </div>          

            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>OUTLINE ROUNDED BUTTON</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body buttons">
             
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-secondary btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-secondary</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-primary</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-success btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-success</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-info btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-info</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-warning btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-warning</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>                  
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-danger btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-danger</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>                 
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-dark btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-dark</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-main btn-rounded transition">Button Text</button>
                    <p class="card-text"><code>.btn-outline-main</code></p>
                    <p class="card-text"><code>.btn-rounded</code></p>
                </div>              
            
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>BUTTON SIZES</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body buttons">
             
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main btn-lg transition">Button Large</button>
                    <p class="card-text"><code>.btn-lg</code></p>
                </div>
                            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main transition">Button Normal</button>
                    <p class="card-text"><code>No class required</code></p>
                </div>
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main btn-sm transition">Button Small</button>
                    <p class="card-text"><code>.btn-sm</code></p>
                </div>                    
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main btn-xs transition">Button XS</button>
                    <p class="card-text"><code>.btn-xs</code></p>
                </div>             
            
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>DISABLED BUTTONS</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body buttons">
           
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main transition" disabled="disabled">Button Disabled</button>
                    <p class="card-text"><code>disabled</code></p> 
                </div>              
    
                <div class="d-inline-block">
                    <button type="button" class="btn btn-main btn-rounded transition" disabled="disabled">Button Disabled</button>
                    <p class="card-text"><code>disabled</code></p> 
                </div>              
        
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-main transition" disabled="disabled">Button Disabled</button>
                    <p class="card-text"><code>disabled</code></p>   
                </div>               
            
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-main btn-rounded transition" disabled="disabled">Button Disabled</button>
                    <p class="card-text"><code>disabled</code></p> 
                </div>            
           
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>BLOCK BUTTONS</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body row">

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 bottom-15 buttons">
                    <div class="card-block text-xs-center">
                        <button type="button" class="btn btn-main btn-block transition">Button Block</button>                            
                        <p class="card-text"><code>.btn-block</code></p> 
                    </div>                   
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 bottom-15 buttons">
                    <div class="card-block text-xs-center">
                        <button type="button" class="btn btn-outline-main btn-block transition">Button Block</button>
                        <p class="card-text"><code>.btn-block</code></p> 
                    </div>                   
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 bottom-15 buttons">
                    <div class="card-block text-xs-center">
                        <button type="button" class="btn btn-main btn-rounded btn-block transition" disabled="disabled">Button Block</button>
                        <p class="card-text"><code>.btn-block</code></p> 
                    </div>                   
                </div>
            
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>GROUP BUTTONS</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 bottom-15 buttons">
                    
                        <div class="d-inline-block">
                            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                            <p class="card-text"><code>.btn-group .btn-group-lg</code></p>    
                        </div>

                        <div class="d-inline-block">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                                <p class="card-text"><code>.btn-group</code></p>  
                        </div>

                        <div class="d-inline-block">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                            <p class="card-text"><code>.btn-group .btn-group-sm</code></p>   
                        </div>
                        
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 bottom-15 buttons">
                    
                        <div class="d-inline-block">
                            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                            <p class="card-text"><code>.btn-group-vertical</code></p>  
                        </div> 

                        <div class="d-inline-block">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">2</button>
                                    <button type="button" class="btn btn-secondary">3</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">5</button>
                                    <button type="button" class="btn btn-secondary">6</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <button type="button" class="btn btn-secondary">8</button>
                                </div>
                            </div>
                            <p class="card-text"><code>.btn-toolbar</code></p>  
                        </div>              
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>