<form [formGroup]="siniestroMedicalForm"  class="row">

    <div class="col-md-6">

    <div class="form-group">   
        <label for="exampleSelect1">Paciente</label>
        <ng-select
            [(options)]="clients"
            [placeholder]="Origen"
            formControlName="idClient">
        </ng-select>
    </div>
    <div class="form-group"> 
        <label for="exampleSelect1">Diagnostico</label>
        <textarea  formControlName="sinisterDiagnosis" class="bg-light form-control"></textarea>
    </div>
    <div class="form-group"> 
        <label for="exampleSelect1">Valor de Siniestro</label>
        <input  type="text" formControlName="sinisterValue" class="bg-light form-control">
    </div>
    <div class="form-group"> 
        <label for="exampleSelect1">Otros 3</label>
        <input  type="number" formControlName="sinisterValue" class="bg-light form-control">
    </div>
    <div class="form-group">
            <label for="exampleSelect1">No Cubiertos</label>
            <input  type="number" formControlName="notCovered" class="bg-light form-control">
    </div>
    <div class="form-group"> 
        <label for="exampleSelect1">Observaciones no Cubiertos</label>
        <textarea  formControlName="sinisterDiagnosis" class="bg-light form-control"></textarea>
    </div>
    <div class="form-group"> 
            <label for="exampleSelect1">Liquidacion</label>
            <input  type="number" formControlName="liquidation" class="bg-light form-control">
        </div>
    <div class="form-group"> 
            <label for="exampleSelect1">Fecha Liquidacion</label>
           <input class="form-control" type="date" formControlDate="liquidationDate">
    </div>
    </div>

    <div class="col-md-6">
            <div class="form-group"> 
                    <label for="exampleSelect1">Deducible</label>
                    <input  type="number" formControlName="deductibleValue" class="bg-light form-control">
            </div>
            <div class="form-group"> 
                    <label for="exampleSelect1">Observacion Liquidacion</label>
                    <textarea  formControlName="observationLiquidation" class="bg-light form-control"></textarea>
            </div>  
            <div class="form-group"> 
                    <label for="exampleSelect1">Valor Liquidacion</label>
                    <input  type="number" formControlName="liquidationValue" class="bg-light form-control">
            </div> 
            <div class="form-group"> 
                    <label for="exampleSelect1">Rasa</label>
                    <input  type="text" formControlName="rasa" class="bg-light form-control">
            </div> 
            <div class="form-group"> 
                    <label for="exampleSelect1">Fecha de ultimo documento enviado</label>
                    <input  type="date" formControlName="lastDocumentSent" class="bg-light form-control">
            </div> 
            <div class="form-group"> 
                    <label for="exampleSelect1">Fecha Entrega</label>
                    <input  type="date" formControlName="deliverDate" class="bg-light form-control">
            </div>
            <div class="form-group"> 
                    <label for="exampleSelect1">Costo Medico</label>
                    <input  type="number" formControlName="medicalExpense" class="bg-light form-control">
            </div>
            <div class="form-group"> 
                    <label for="exampleSelect1">Otros 1</label>
                    <input  type="number" formControlName="others1" class="bg-light form-control">
            </div>
            <div class="form-group"> 
                    <label for="exampleSelect1">Otros 2</label>
                    <input  type="number" formControlName="others2" class="bg-light form-control">
            </div>
            <div class="form-group"> 
                    <label for="exampleSelect1">Otros 3</label>
                    <input  type="number" formControlName="others3" class="bg-light form-control">
            </div>
    </div>
    
    





</form>

<div widget class="card">  
    <div class="card-header">
            <span>Documentacion</span>
                
        </div> 
    <div class="card-block widget-body">
        <form [formGroup]="siniestroMedicalDocumentationForm" class="row form-inline">
                
            <div class="col-md-10">
                        <div class="row row-input">
                        <div class="col-md-4">
                            <label for=""> Documentacion para Ramo</label>
                        <ng-select
                            [(options)]="docs"
                            [placeholder]="Origen"
                            (selected)="setDocRamo($event)"
                            [multiple]="false"
                            formControlName="idSinisterDocumentationRamo">
                        </ng-select>

                        </div>

                        <div class="form-group col-md-4 col-sm-6" [ngClass]="{}">
                            <label for="">Cantidad</label>
                                <input type="number" formControlName="quantity" class="form-control" placeholder="">
                            </div>
                        
                    
                        <div class="form-group col-md-4 col-sm-6" [ngClass]="{}">
                            <label for="">Descripcion</label>
                                    <input type="text" formControlName="description" class="form-control" placeholder="">
                                </div>
                            
                        
                        </div>
                        <div class="row row-input">
                                <div class="form-group col-md-4 col-sm-6" [ngClass]="{}">
                                        <label for="">Responsable de Recepcion</label>
                                                <input type="text" formControlName="responsibleReception" class="form-control" placeholder="">
                                            </div>
                                        <div class="form-group col-md-4 col-sm-6" [ngClass]="{}">
                                            <label for="">Fecha de Recepcion</label>
                                                <input type="date" formControlName="receptionDate" class="form-control" placeholder="">
                                            </div>
                                            <div class="form-group col-md-4 col-sm-6" [ngClass]="{}">
                                                    <label for="">Fecha de Envio</label>
                                                        <input type="date" formControlName="sendDate" class="form-control" placeholder="">
                                                    </div>
                    
                        
            
                        </div>

            </div>
            
                
            <div class="form-group col-md-2 col-sm-6" >
                <button  [disabled]="!siniestroMedicalDocumentationForm.valid" (click)="addDoc()" type="submit" class="btn btn-primary">Guardar</button>
            </div>
            
            
                
                                                
                                                    
                                                
                                                
        </form> 
        <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Siniestro Ramo</th>
                            <th>Cantidad</th>
                            <th>Descripcion</th>
                            <th>Fecha Recepcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let docsiniestroRamo of docSiniestroRamos; let i = index">
                            <td>{{docsiniestroRamo.sinisterDocumentationRamoLabel}}</td>
                            <td>{{docsiniestroRamo.quantity}}</td>
                            <td>{{docsiniestroRamo.description}}</td>
                            <td>{{docsiniestroRamo.receptionDate}}</td>
                            <td><button (click)="deleteDoc(i)" class="btn btn-danger">Borrar</button></td>
                        
                    
                        </tr>
                        
                    </tbody>
                </table>
            </div>

    
    </div> 
    
</div>
<button (click)="saveSiniestro()" [disabled]="!siniestroMedicalForm.valid " type="submit" class="btn btn-primary btn-block">Guardar Todo</button>