<div class="row">
    
    <div class="col-md-12">
        <div widget class="card">
            <div class="card-header">
                <span>NUEVO RAMO</span>
                <div class="widget-controls">              
  
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
         
                </div>        
            </div>
            <div class="card-block widget-body">
                 <div *ngIf="toast" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong>
                  
                </div>

                <form [formGroup]="insuranceForm">
                    <div class="col-md-12">
                         <div class="form-group">
                        <label for="input-1">Nombre</label>
                        <input formControlName="name" type="text" class="form-control" >
                    </div>

                    </div>
                   

                    <div class="col-md-12">
                         <div class="form-group">
                        <label for="input-2">Descripcion</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="10" formControlName="description">

                        </textarea>
                    </div>

                    </div>
                   
                   
                   <button [disabled]="!insuranceForm.valid" (click)="saveInsurance()" type="submit" class="btn btn-primary"> Agregar </button>
            
                </form>
              
            </div>
        </div>
    </div>
    </div>