<div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Listado de siniestros</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div  style="min-height:300px;"class="card-block widget-body">
    
                <div class="row">
                    <div class="col-md-10">
                            <form [formGroup]="sinisterReportForm" class="row form-inline">
                                    <div class="form-group col-md-4 col-sm-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" formControlName="startDate" class="form-control" placeholder="Fecha Inicio">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="">Fecha Fin</label>
                                        <input type="date" formControlName="finishDate" class="form-control" placeholder="fecha Fin">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="exampleSelect1">Sucursal</label>
                                            <ng-select
                                                [(options)]="branches"
                                                [multiple]="false"
                                                formControlName="idBranch"
                                                >
                                            </ng-select>
                                        </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="">Numero de siniestro</label>
                                        <input type="number" formControlName="sinisterNumber" class="form-control" placeholder="Numero de Billing">
                                    </div>                  
                                    <div class="form-group col-md-4 col-sm-6">
                                        <label for="exampleSelect1">Cliente</label>
                                        <ng-select
                                            [(options)]="recipients"
                                            [multiple]="false"
                                            formControlName="idRecipient"
                                            >
                                        </ng-select>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="exampleSelect1">Ramo</label>
                                            <ng-select
                                                [(options)]="ramos"
                                                [multiple]="false"
                                                formControlName="idRamo"
                                                >
                                            </ng-select>
                                        </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="exampleSelect1">Aseguradora</label>
                                            <ng-select
                                                [(options)]="aseguradoras"
                                                [multiple]="false"
                                                formControlName="idInsurance"
                                                >
                                            </ng-select>
                                    </div>
    
                                    
                            </form>
    
                    </div>
                    <div class="col-md-2">
                        <div class="row">
    
                        </div>
                        <div class="row">
                                <button (click)="submitDataRequest()" class="btn btn-primary">
                                        Enviar
                                    </button>
                        </div>
                    </div>
                    <div class="card-block widget-body">
                            <div class="pull-right">
                                <button (click)="submitFileRequest()" class="btn btn-primary btn-sm">Generar Excel</button>
                            </div>
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm" [mfData]="results  | BillingReportPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                                    <thead>
                                        <tr>
                                            <th><mfDefaultSorter by="sinisterNumber">Agencia</mfDefaultSorter></th>                            
                                            <th><mfDefaultSorter by="city.name">Ciudad</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="recipient.name">Nombre de Cliente</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="ramo.name">Numero de F.</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="sinisterType.name">Numero de P.</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateAdmission">Numero de S.</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateCancellation">Ramo</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateCancellation">Fecha de Inicio</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateCancellation">Fecha de Siniestro</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateCancellation">Fecha de Notificacion</mfDefaultSorter></th>
                                                
                                        </tr>
                                    </thead>
                                    <tbody>                           
                                        <tr *ngFor="let sinister of results">
                                            <td><strong *ngIf="sinister.branchCreate">{{sinister.branchCreate.name}}</strong></td>
                                            <td><strong *ngIf="sinister.city">{{sinister.city.name}}</strong></td>
                                            <td>
                                                <strong>{{sinister.recipient.name}}</strong>
                                            </td>
                                            <td><strong *ngIf="sinister.billings">{{sinister.billings[0].billing.billingNumberp}}</strong></td>
                                            <td>{{sinister.policyData.policyNumber}}</td>
                                            <td>{{sinister.policyData.policyNumber}}</td>
                                            <td>{{sinister.policyData.ramo.name}}</td>
                                            <td>{{sinister.dateCreate}}</td>
                                            <td>{{sinister.dateSinister}}</td>
                                            <td>{{sinister.dateNotification}}</td>
                             
                                            
                                        </tr>
                                                                  
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="12">
                                                <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div><div class="col">
</div>