<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">

                <span class="text-uppercase">Listado de Cotizaciones</span>

                <div class="widget-controls"> 
                     <div class="col-md-4">
                               <button data-toggle="modal" data-target="#new-city" class="btn btn-primary btn-rounded pull-right" ><i class="fa fa-plus"></i></button>
                        </div>                        
                   
                </div>        
            </div>
            
            <div class="card-block widget-body">
                  

                        <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{message}} </strong> 
                        </div>
                       
                        <div *ngIf="toast" class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{message}}</strong> 
                        </div>
                
                <div class="w-200 pull-right bottom-15">
                    <div class="input-group input-group-sm">


                        
                    </div>
                </div> 
                <div class="table-responsive datatable">
                    <table class="table table-striped table-hover table-sm" [mfData]="quotes | SearchPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th> <mfDefaultSorter by="name">Nombre</mfDefaultSorter></th>                              
                                <th><mfDefaultSorter by="lastName">Apellido</mfDefaultSorter></th>
                                 <th><mfDefaultSorter by="date">Fecha</mfDefaultSorter></th> 
                                 <th><mfDefaultSorter by="totalAmount">Monto Total</mfDefaultSorter></th>

                                <th>Acciones</th>      
                            </tr>
                        </thead>
                        <tbody>                           

                            <tr *ngFor="let quote of quotes">
                                <td><strong>  {{quote.name}}   </strong></td>
                                <td>{{quote.lastName}}</td>
                                <td>{{quote.date}}</td>
                                 <td>{{quote.totalAmount}}</td>
              
                               

                                <td class="row col  bottom-15">
                                  
                                      <div class="d-inline-block">
                                                <div class="row">


                                                        <button type="button" (click)="quoteDetail(quote)" class="btn btn-primary" data-toggle="modal" data-target="#edit-modal">Editar</button>

                                                                
                        

                                                        <button type="button" (click)="idAssign(quote._id)" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Borrar</button>

                                                                        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header state modal-danger">                                    
                                                                                        <h4 class="modal-title" id="modal-error-label"><i class="fa fa-exclamation-triangle"></i>Estas Seguro?</h4>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                       <!--Esta seguro-->
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button (click)="deletequote()" type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                </div>
                                                
                                            </div>
                                </td>
                                </tr>
                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="new-city" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header state modal-primary">
                                    <h4 class="modal-title" id="modal-label"><i class="fa fa-money"></i>Nuevo Cotizaciones</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                     <form  [formGroup]="quoteForm"  class="row">

                                         <div class="form-group col-md-6">
                                                         <label for="exampleSelect1">Tipo de Documento</label>
                                                            <select formControlName="docType" class="form-control">
                                                                <option  value="0">Cedula</option>
                                                                <option  value="1">Pasaporte</option>
                                                    
                                                             </select>
                                         <div *ngIf="quoteForm.value.docType == 0 " class="form-group" [ngClass]="{'has-danger' :  quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidCedula'), 
                                                                                    'has-success' :  quoteForm.get('doc').value != '' && !quoteForm.get('doc').hasError('invalidCedula') }">
                                            <label class="form-control-label">Cedula*</label> 
                                            <div class="input-group"> 
                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>                       
                                                <input formControlName="doc" class="form-control" [ngClass]="{'form-control-danger' : quoteForm.get('doc').value != '' &&  quoteForm.get('doc').hasError('invalidCedula'),                                                                                                        
                                                'form-control-success' : quoteForm.get('doc').value != '' &&  !quoteForm.get('doc').hasError('invlidCedula')}" type="text" maxlength="10">
                                            </div>
                                           
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidCedula')">Cedula Invalida</span>                            
                                        </div>

                                        <div *ngIf="quoteForm.value.docType == 1 " class="form-group" [ngClass]="{'has-danger' : (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('required')) || (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('minlength')) || (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidNumber')) || (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidCedula')), 
                                                                                    'has-success' : !quoteForm.get('doc').hasError('required') && !quoteForm.get('doc').hasError('minlength') && !quoteForm.get('doc').hasError('invalidNumber') && !quoteForm.get('doc').hasError('invaliddoc') }">
                                            <label class="form-control-label">Pasaporte*</label> 
                                            <div class="input-group"> 
                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>                       
                                                <input formControlName="doc" class="form-control" [ngClass]="{'form-control-danger' : (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('required')) || (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('minlength')) || (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidNumber')) || (quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invaliddoc')),                                                                                                        
                                                'form-control-success' : !quoteForm.get('doc').hasError('required') && !quoteForm.get('doc').hasError('minlength') && !quoteForm.get('doc').hasError('invalidNumber') && !quoteForm.get('doc').hasError('invliddoc')}" type="text" maxlength="10">
                                            </div>
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('required')">doc es Necesaria</span>                              
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('minlength')">La doc debe tener  10 caracteres</span>                            
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidNumber')">La doc debe tener solo numeros</span> 
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('doc').value != '' && quoteForm.get('doc').hasError('invalidCedula')">Cedula Invalida</span>                            
                                        </div>
                                         <div class="form-group">
                                                            <label for="input-12">Fecha*</label>
                                                            <input formControlName="date"  class="form-control" type="date" max="2020-12-31" class="form-control">
                                        </div>
                                          <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('name').value != '' && quoteForm.get('name').hasError('required'), 'has-success' : !quoteForm.get('name').hasError('required') }">
                                            <label class="form-control-label">Nombre*</label>
                                            <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                    <input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('name').hasError('required'), 'form-control-success' :  !quoteForm.get('name').hasError('required') }" type="text"> 
                                            </div>
                                        
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('name').value != '' && quoteForm.get('name').hasError('required')">Nombre no puede estar vacio</span>                             
                                        </div>
                                         <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('lastName').value != '' && quoteForm.get('lastName').hasError('required'), 'has-success' : !quoteForm.get('lastName').hasError('required') }">
                                            <label class="form-control-label">Apellido*</label>
                                            <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                    <input formControlName="lastName" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('lastName').hasError('required'), 'form-control-success' :  !quoteForm.get('lastName').hasError('required') }" type="text"> 
                                            </div>
                                        
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('lastName').value != '' && quoteForm.get('lastName').hasError('required')">Apellido no puede estar vacio</span>                             
                                        </div>

                                           <div class="form-group " [ngClass]="{'has-danger': quoteForm.get('cellPhone').hasError('invalidMobile') && quoteForm.get('cellPhone').value != '' , 'has-success': !quoteForm.get('cellPhone').hasError('invalidMobile')  }">
                                                          <label class="form-control-label">Telefono*</label>
                                                        <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                         <input formControlName="cellPhone" [ngClass]="{'form-control-danger' : quoteForm.get('cellPhone').value != ''  && quoteForm.get('cellPhone').hasError('invalidMobile') , 'form-control-success' :  !quoteForm.get('cellPhone').hasError('invalidMobile')  }" maxlength="10" type="text" class="form-control" >
                                                        </div>
                                                        
                                    </div>
                                      <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('mail').value != '' && quoteForm.get('mail').hasError('required')  || quoteForm.get('mail').value != ''  && quoteForm.get('mail').hasError('invalidEmail')   ,
                                                 'has-success' : !quoteForm.get('mail').hasError('required') && !quoteForm.get('mail').hasError('invalidEmail') }">
                                                          <label class="form-control-label">Email*</label>
                                                         <div class="input-group">
                                                        <input formControlName="mail"  [ngClass]="{'form-control-danger' : quoteForm.get('mail').value != ''  && quoteForm.get('mail').hasError('required') || quoteForm.get('mail').value != ''  && quoteForm.get('mail').hasError('invalidEmail'), 'form-control-success' :  !quoteForm.get('mail').hasError('required') && !quoteForm.get('mail').hasError('invalidEmail') }" type="text" class="form-control" >
                                                        </div>
                                                        
                                     </div>
                                      <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('car').value != '' && quoteForm.get('car').hasError('required'), 'has-success' : !quoteForm.get('car').hasError('required') }">
                                            <label class="form-control-label">Vehiculo*</label>
                                            <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                    <input formControlName="car" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('car').hasError('required'), 'form-control-success' :  !quoteForm.get('car').hasError('required') }" type="text"> 
                                            </div>
                                        
                                            <span class="help-block text-danger" *ngIf="quoteForm.get('car').value != '' && quoteForm.get('car').hasError('required')">Carro no puede estar vacio</span>                             
                                        </div>
                                           <div class="form-group ">
                                                         <label for="exampleSelect1">Uso de Automovil</label>
                                                            <select (change)="getTasa()" formControlName="carUse" class="form-control">
                                                                <option *ngFor="let car of carUses" value="{{car.name}}">{{car.name}}</option>
                                                    
                                                            </select>
                                            </div>
                                              <div class="form-group "> 
                                                         <label for="exampleSelect1">Aseguradora</label>
                                                         <select (change)="getTasa()" formControlName="idInsurance" class="form-control">
                                                        <option *ngFor="let aseguradora of  aseguradoras" value="{{aseguradora._id}}">{{aseguradora.bussinesName}}</option>
                                                    
                                                    </select>

                                                </div>
                                                
                                             <div class="form-group">
                                                         <label for="exampleSelect1">Deducible</label>
                                                            <select (change)="getTasa()" formControlName="idDeductible" class="form-control">
                                                                <option *ngFor="let deducible of deducibles" value="{{deducible._id}}">{{deducible.name}}</option>
                                                    
                                                            </select>
                                             </div>

                                           
                                        
                                                    
                                                <div class="form-group">
                                                            <label for="input-12">Vigente desde</label>
                                                            <input formControlName="startDate"  class="form-control" type="date" max="2020-12-31" class="form-control">
                                                        </div>

                                                      <div class="form-group">
                                                            <label for="input-12">Vigente hasta</label>
                                                            <input formControlName="finishDate"  class="form-control" type="date" max="2020-12-31" class="form-control">
                                                        </div>


                                  </div>
                                
                                                    <div class="col-md-6">
                                                    <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('valueCar').value != '' && quoteForm.get('valueCar').hasError('required'), 'has-success' : !quoteForm.get('valueCar').hasError('required') }">
                                                        <label class="form-control-label">Valor del Asegurado</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input (input)="getPrima()" formControlName="valueCar" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('valueCar').hasError('required'), 'form-control-success' :  !quoteForm.get('valueCar').hasError('required') }" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('valueCar').value != '' && quoteForm.get('valueCar').hasError('required')">Valor del carro no puede estar vacio</span>                             
                                                    </div>
                                                     <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('accessories').value != '' && quoteForm.get('accessories').hasError('required'), 'has-success' : !quoteForm.get('accessories').hasError('required') }">
                                                        <label class="form-control-label">Accesorios</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input (input)="getPrima()" formControlName="accessories" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('accessories').hasError('required'), 'form-control-success' :  !quoteForm.get('accessories').hasError('required') }" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('accessories').value != '' && quoteForm.get('accessories').hasError('required')">Accesorios no puede estar vacio</span>                             
                                                    </div>

                                                     <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('tasaValue').value != '' && quoteForm.get('tasaValue').hasError('required'), 'has-success' : !quoteForm.get('tasaValue').hasError('required') }">
                                                        <label class="form-control-label">Tasa</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input (input)="getPrima()" formControlName="tasaValue" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('tasaValue').hasError('required'), 'form-control-success' :  !quoteForm.get('tasaValue').hasError('required') }" value="0" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('tasaValue').value != '' && quoteForm.get('tasaValue').hasError('required')">Tasa no puede estar vacio</span>                             
                                                    </div>
                                                      <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('iva').value != '' && quoteForm.get('iva').hasError('required'), 'has-success' : !quoteForm.get('iva').hasError('required') }">
                                                        <label class="form-control-label">Iva</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input (input)="getPrima()" formControlName="iva" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('iva').hasError('required'), 'form-control-success' :  !quoteForm.get('iva').hasError('required') }" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('iva').value != '' && quoteForm.get('iva').hasError('required')">Tasa no puede estar vacio</span>                             
                                                    </div>

                                                    <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('prima').value != '' && quoteForm.get('prima').hasError('required'), 'has-success' : !quoteForm.get('prima').hasError('required') }">
                                                        <label class="form-control-label">Prima</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input (change)="getDerechosEmision()" formControlName="prima" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('iva').hasError('required'), 'form-control-success' :  !quoteForm.get('iva').hasError('required') }" value="0" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('prima').value != '' && quoteForm.get('prima').hasError('required')">Prima no puede estar vacio</span>                             
                                                    </div>
                                                      <div class="form-group "  [ngClass]="{'has-danger' : quoteForm.get('superBank').value != '' && quoteForm.get('superBank').hasError('required'), 'has-success' : !quoteForm.get('superBank').hasError('required') }">
                                                        <label class="form-control-label">Super de Banco</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input  (input)="getValorIva()" formControlName="superBank" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('superBank').hasError('required'), 'form-control-success' :  !quoteForm.get('superBank').hasError('required') }" value="0" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('superBank').value != '' && quoteForm.get('superBank').hasError('required')">Super banco no puede estar vacio </span>                             
                                                    </div>

                                                    <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('emissionRights').value != '' && quoteForm.get('emissionRights').hasError('required'), 'has-success' : !quoteForm.get('emissionRights').hasError('required') }">
                                                        <label class="form-control-label">Derechos de Emision</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                <input  (input)="getValorIva()" formControlName="emissionRights" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('emissionRights').hasError('required'), 'form-control-success' :  !quoteForm.get('emissionRights').hasError('required') }" value="0" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('emissionRights').value != '' && quoteForm.get('emissionRights').hasError('required')">Derechos de emision no puede estar vacio </span>                             
                                                    </div>

                                                     <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('peasantInsurance').value != '' && quoteForm.get('peasantInsurance').hasError('required'), 'has-success' : !quoteForm.get('peasantInsurance').hasError('required') }">
                                                        <label class="form-control-label">Seguro campesino</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                                <input  (input)="getValorIva()" formControlName="peasantInsurance" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('peasantInsurance').hasError('required'), 'form-control-success' :  !quoteForm.get('peasantInsurance').hasError('required') }"  value="0" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('peasantInsurance').value != '' && quoteForm.get('peasantInsurance').hasError('required')">Seguro campesino </span>                             
                                                    </div>

                                              
                                                     <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('valorIva').value != '' && quoteForm.get('valorIva').hasError('required'), 'has-success' : !quoteForm.get('valorIva').hasError('required') }">
                                                        <label class="form-control-label">Valor de IVA</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                                <input  (input)="getValorIva()" formControlName="valorIva" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('valorIva').hasError('required'), 'form-control-success' :  !quoteForm.get('valorIva').hasError('required') }"  value="0" step="any" type="number"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('valorIva').value != '' && quoteForm.get('valorIva').hasError('required')">Valor de Iva no puede estar vacio </span>                             
                                                    </div>

                                                     <div class="form-group " [ngClass]="{'has-danger' : quoteForm.get('totalAmount').value != '' && quoteForm.get('totalAmount').hasError('required'), 'has-success' : !quoteForm.get('totalAmount').hasError('required') }">
                                                        <label class="form-control-label">Valor Total</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                                <input formControlName="totalAmount" class="form-control" [ngClass]="{'form-control-danger' :  quoteForm.get('totalAmount').hasError('required'), 'form-control-success' :  !quoteForm.get('totalAmount').hasError('required') }" value="0" step="any" type="text"> 
                                                        </div>
                                                    
                                                        <span class="help-block text-danger" *ngIf="quoteForm.get('totalAmount').value != '' && quoteForm.get('totalAmount').hasError('required')">Valor total no puede estar vacio </span>                             
                                                    </div>

                                                    <div *ngIf="quoteForm.get('totalAmount').value != ''">

                                                        <label  for="exampleSelect1">Tipos de Pago</label>
                                                            <select formControlName="idPaymentType" class="form-control">
                                                                <option *ngFor="let payment of paymentTypes" value="{{payment.id}}">{{payment.name}}</option>
                                                    
                                                            </select>


                                                     </div>

                                                       <div *ngIf="quoteForm.value.idPaymentType == '99097f2c1d' " class="form-group" >


                                                            <label class="form-control-label">Cantidad de Meses*</label> 
                                                            <select #months  (change)="equalPaymentCalc()"  class="form-control">
                                                                <option *ngFor="let number of quantityMonths" value="{{number}}">{{number}}</option>
                                                    
                                                            </select>
                                                     <div class="form-group " >
                                                        <label class="form-control-label">Valor Cuota</label>
                                                        <div class="input-group">
                                                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                                <input formControlName="equalPayments" class="form-control"  value="0" step="any" type="text"> 
                                                        </div>
                                                    
                                                       
                                                    </div>
                                                        
                                                            
                                                        </div>

                                                    <div *ngIf="quoteForm.value.idPaymentType == '99097f2c1c' " class="form-group" >
                                                       
                                                       
                                                        <div class="form-group " >
                                                                <label class="form-control-label">Pago Inicial</label>
                                                                <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                                        <input formControlName="equalPayments" class="form-control"  value="0" step="any" type="text"> 
                                                                </div>
                                                            
                                                            
                                                            </div>
                                                        

                                                            <label class="form-control-label">Cantidad de Meses*</label> 
                                                            <select #months  (change)="equalPaymentCalc()"  class="form-control">
                                                                <option *ngFor="let number of quantityMonths" value="{{number}}">{{number}}</option>
                                                    
                                                            </select>
                                                 
                                                            
                                                    </div>



                                                        <div *ngIf="quoteForm.value.idPaymentType == '99097f2c1a' " class="form-group" >
                                                            <label class="form-control-label">Meses*</label> 
                                                            <select formControlName="idDeductible" class="form-control">
                                                                <option *ngFor="let deducible of deducibles" value="{{deducible._id}}">{{deducible.name}}</option>
                                                    
                                                            </select>
                                                           
                                                        
                                                            
                                                        </div>

                                                    </div>

                                                    
                                    
                                    </form>

                                   
                                </div>
                                <div class="modal-footer">

                                    <button [disabled]="!quoteForm.valid"  (click)="savequote()" type="button" class="btn btn-primary" data-dismiss="modal">Crear</button>

                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
</div>

 <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
        <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header state modal-primary">                                    
                    <h4 class="modal-title" id="modal-primary-label"><i class="fa  fa-money"></i>Editar quote</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                    <div class="">
                    <div widget class="card">

                    <div class="card-block widget-body">

                                <form  [formGroup]="editForm"  class="row">

                             
                                    
                                    </form>

                        
                        


                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                    <button [disabled]="!editForm.valid" (click)="editQuote()" type="button" class="btn btn-primary" data-dismiss="modal">Cambiar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                    </div>
                    </div>
                    </div>


