<div class="row">   
    <div class="col-xl-4 col-lg-4 col-12 bottom-30">              
          <div widget class="card">
            <div class="card-header">
                <span>DEFAULT</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="media">
                    <img class="d-flex mr-3" src="assets/img/profile/tereza.jpg" width="70" alt="Generic placeholder image">
                    <div class="media-body">
                        <h4 class="mt-0">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla.<br>
                        Nulla vel metus scelerisque ante sollicitudin commodo.<br>
                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<br>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-12 bottom-30">              
          <div widget class="card">
            <div class="card-header">
                <span>MIDDLE</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                <div class="media">
                    <img class="d-flex align-self-center mr-3" src="assets/img/profile/bruno.jpg" width="70" alt="Generic placeholder image">
                    <div class="media-body">
                        <h4 class="mt-0">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla.<br>
                        Nulla vel metus scelerisque ante sollicitudin commodo.<br>
                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-12 bottom-30">              
          <div widget class="card">
            <div class="card-header">
                <span>BOTTOM</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                <div class="media">
                    <img class="d-flex align-self-end mr-3" src="assets/img/profile/michael.jpg" width="70" alt="Generic placeholder image">
                    <div class="media-body">
                        <h4 class="mt-0">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla.<br>
                        Nulla vel metus scelerisque ante sollicitudin commodo.<br>
                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<br>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
  
</div>

<div class="row">   
    <div class="col-xl-4 col-lg-4 col-12 bottom-30">              
          <div widget class="card">
            <div class="card-header">
                <span>RIGHT</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                <div class="media">
                    <div class="media-body">
                       <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla.<br>
                        Nulla vel metus scelerisque ante sollicitudin commodo.<br>
                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.<br>
                    </div>
                    <img class="d-flex ml-3" src="assets/img/profile/tereza.jpg" width="70" alt="Generic placeholder image">
                </div>               
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-12 bottom-30">              
          <div widget class="card">
            <div class="card-header">
                <span>LIST</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <ul class="list-unstyled">
                    <li class="media">
                      <img class="d-flex mr-3" src="assets/img/profile/bruno.jpg" width="70" alt="Generic placeholder image">
                      <div class="media-body">
                         <h4 class="media-heading">Media heading</h4>
                         <p>A short sentence to save some space in the code sample</p>
                      </div>
                    </li>
                    <li class="media">
                      <img class="d-flex mr-3" src="assets/img/profile/tereza.jpg" width="70" alt="Generic placeholder image">
                      <div class="media-body">
                       <h4 class="media-heading">Media heading</h4>
                            <p>A short sentence to save some space in the code sample</p>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-12 bottom-30">              
          <div widget class="card">
            <div class="card-header">
                <span>NESTED</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">  

                <div class="media">
                    <img class="d-flex mr-3" src="assets/img/profile/ashley.jpg" width="70" alt="Generic placeholder image">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla.
                        <div class="media mt-3">
                            <img class="d-flex mr-3" src="assets/img/profile/adam.jpg" width="70" alt="Generic placeholder image">                     
                            <div class="media-body">
                              <h4 class="media-heading">Nested media heading</h4>
                              Cras sit amet nibh libero, in gravida nulla.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>    
  
</div>
