.buttons{
    text-align: center;
    .d-inline-block{
        margin-bottom: 8px;
        margin-right: 6px;      
    }
    p{
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 13px;
        white-space: nowrap;
    }
} 