.typography{
    .card{
        padding: 6px;
        .card-block{
            padding: 4px;           
        }
    }
    .card-block{
        padding: 4px;      
    }
    .d-inline-block{
        margin-bottom: 8px;
        margin-right: 10px; 
        img{
            margin-bottom: 4px;
        } 
        p{
            margin-bottom: 0;
        }    
    }
    p.desc{
        font-size:13px;
    }
}