@import "../../../theme/styles/variables";

.datatable {
    .progress{
        background-color: $gray-light;
    }
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        li{
            display: inline;
            a{
                position: relative;
                float: left;
                padding: 0.275rem 0.75rem;
                font-size: 0.875rem;
                margin-left: -1px;
                color: $primary-color;
                text-decoration: none;
                background-color: $default-color;
                border: 1px solid $gray-light;
                &:hover{
                    color: #014c8c;
                    background-color: #eceeef;
                    border-color: #ddd;
                }
            }
            &:first-child a {                
                margin-left: 0;
                border-bottom-left-radius: 0.2rem;
                border-top-left-radius: 0.2rem;
            }
            &:last-child a {              
                border-bottom-right-radius: 0.2rem;
                border-top-right-radius: 0.2rem;
            }
            &.active a{
                z-index: 2;
                color: $default-color;
                cursor: default;
                background-color: $primary-color;
                border-color: $primary-color;
            }
            &.disabled a {
                color: $gray-light;
                pointer-events: none;
                cursor: not-allowed;
                background-color: $default-color;
                border-color: $gray-light;
            }
        }
    }

}


