<div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Listado de Facturas</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div  style="min-height:300px;"class="card-block widget-body">
    
                <div class="row">
                    <div class="col-md-10">
                            <form [formGroup]="billingReportForm" class="row form-inline">
                                    <div class="form-group col-md-4 col-sm-6">
                                        <label for="">Fecha Inicio</label>
                                        <input type="date" formControlName="startDate" class="form-control" placeholder="Fecha Inicio">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="">Fecha Fin</label>
                                        <input type="date" formControlName="finishDate" class="form-control" placeholder="fecha Fin">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="exampleSelect1">Sucursal</label>
                                            <ng-select
                                                [(options)]="branches"
                                                [multiple]="false"
                                                formControlName="idBranch"
                                                >
                                            </ng-select>
                                        </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="">Numero de Factura</label>
                                        <input type="number" formControlName="billingNumber" class="form-control" placeholder="Numero de Billing">
                                    </div>                  
                                    <div class="form-group col-md-4 col-sm-6">
                                        <label for="exampleSelect1">Cliente</label>
                                        <ng-select
                                            [(options)]="recipients"
                                            [multiple]="false"
                                            formControlName="idRecipient"
                                            >
                                        </ng-select>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="exampleSelect1">Ramo</label>
                                            <ng-select
                                                [(options)]="ramos"
                                                [multiple]="false"
                                                formControlName="idRamo"
                                                >
                                            </ng-select>
                                        </div>
                                    <div class="form-group col-md-4 col-sm-6">
                                            <label for="exampleSelect1">Aseguradora</label>
                                            <ng-select
                                                [(options)]="aseguradoras"
                                                [multiple]="false"
                                                formControlName="idInsurance"
                                                >
                                            </ng-select>
                                    </div>
    
                                    
                            </form>
    
                    </div>
                    <div class="col-md-2">
                        <div class="row">
    
                        </div>
                        <div class="row">
                                <button (click)="submitDataRequest()" class="btn btn-primary">
                                        Enviar
                                    </button>
                        </div>
                    </div>
                    <div class="card-block widget-body">
                            <div class="pull-right">
                                <button (click)="submitFileRequest()" class="btn btn-primary btn-sm">Generar Excel</button>
                            </div>
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm" [mfData]="results  | BillingReportPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                                    <thead>
                                        <tr>
                                            <th><mfDefaultSorter by="billingNumber">Numero de Billing</mfDefaultSorter></th> 
                                            <th><mfDefaultSorter by="branchCreate.name">Agencia</mfDefaultSorter></th>                           
                                            <th><mfDefaultSorter by="city.name">Ciudad</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="recipient.name">Nombre de Cliente</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="ramo.name">Nombre de Ramo</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="billingType.name">Estado de Billing</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateAdmission">Fecha de Inicio de Vigencia</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="dateCancellation">Fecha de Fin de Vigencia</mfDefaultSorter></th>
                                                
                                        </tr>
                                    </thead>
                                    <tbody>                           
                                        <tr *ngFor="let billing of results">
                                            <td>{{billing.billingNumber}}</td>
                                            <td><strong *ngIf="billing.branchCreate">{{billing.branchCreate.name}}</strong></td>
                                            <td>
                                                <strong>{{billing.detailsClientBilling.name}}</strong>
                                            </td>
                                            <td>//fix</td>
                                            <td>//fix</td>
                                            <td>{{billing.dateAdmission}}</td>
                                            <td>{{billing.dateCancellation}}</td>
                                        </tr>
                                                                  
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="12">
                                                <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div><div class="col">
</div>