<div class="row">
    
    <div class="col-md-12">
        <div widget class="card">
            <div class="card-header">
                <span>NUEVA EMPRESA</span>
                <div class="widget-controls">              
  
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
         
                </div>        
            </div>
            
            <div class="card-block widget-body">
         <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Verificar campos en rojo</strong>
                  
                </div>
         <div *ngIf="toast" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong>
                  
                </div>
           <div *ngIf="permission" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong> 
                </div>
       
        
         
                
  <form  [formGroup]="clientForm"  class="row">
                                         <div class="col-md-6">
                                                   <label for="exampleSelect1">Tipo de Documento</label>
                                                            <select formControlName="docType" class="form-control">
                                                                <option  value="0">Cedula</option>
                                                                <option  value="1">Pasaporte</option>
                                                    
                                                             </select>
                                                 <div *ngIf="clientForm.value.docType == 0 " class="form-group" [ngClass]="{'has-danger' : (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('required')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('minlength')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidNumber')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidCedula')), 
                                                                                    'has-success' : !clientForm.get('doc').hasError('required') && !clientForm.get('doc').hasError('minlength') && !clientForm.get('doc').hasError('invalidNumber') && !clientForm.get('doc').hasError('invaliddoc') }">
                                                        <label class="form-control-label">Cedula*</label> 
                                                        <div class="input-group"> 
                                                            <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>                       
                                                            <input formControlName="doc" class="form-control" [ngClass]="{'form-control-danger' : (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('required')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('minlength')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidNumber')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidCedula')),                                                                                                        
                                                            'form-control-success' : !clientForm.get('doc').hasError('required') && !clientForm.get('doc').hasError('minlength') && !clientForm.get('doc').hasError('invalidNumber') && !clientForm.get('doc').hasError('invliddoc')}" type="text" maxlength="10">
                                                        </div>
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('required')">doc es Necesaria</span>                              
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('minlength')">La doc debe tener  10 caracteres</span>                            
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidNumber')">La doc debe tener solo numeros</span> 
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidCedula')">Cedula Invalida</span>                            
                                                    </div>

                                                    <div *ngIf="clientForm.value.docType == 1 " class="form-group" [ngClass]="{'has-danger' : (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('required')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('minlength')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidNumber')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidCedula')), 
                                                                                    'has-success' : !clientForm.get('doc').hasError('required') && !clientForm.get('doc').hasError('minlength') && !clientForm.get('doc').hasError('invalidNumber') && !clientForm.get('doc').hasError('invaliddoc') }">
                                                        <label class="form-control-label">Pasaporte*</label> 
                                                        <div class="input-group"> 
                                                            <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>                       
                                                            <input formControlName="doc" class="form-control" [ngClass]="{'form-control-danger' : (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('required')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('minlength')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidNumber')) || (clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invaliddoc')),                                                                                                        
                                                            'form-control-success' : !clientForm.get('doc').hasError('required') && !clientForm.get('doc').hasError('minlength') && !clientForm.get('doc').hasError('invalidNumber') && !clientForm.get('doc').hasError('invliddoc')}" type="text" maxlength="10">
                                                        </div>
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('required')">doc es Necesaria</span>                              
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('minlength')">La doc debe tener  10 caracteres</span>                            
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidNumber')">La doc debe tener solo numeros</span> 
                                                        <span class="help-block text-danger" *ngIf="clientForm.get('doc').value != '' && clientForm.get('doc').hasError('invalidCedula')">Cedula Invalida</span>                            
                                                    </div>
                                        <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('name').value != '' && clientForm.get('name').hasError('required'), 'has-success' : !clientForm.get('name').hasError('required') }">
                                            <label class="form-control-label">Nombre*</label>
                                            <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                    <input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('name').hasError('required'), 'form-control-success' :  !clientForm.get('name').hasError('required') }" type="text"> 
                                            </div>
                                        
                                            <span class="help-block text-danger" *ngIf="clientForm.get('name').value != '' && clientForm.get('name').hasError('required')">Nombre no puede estar vacio</span>                             
                                        </div>
                                         <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('lastName').value != '' && clientForm.get('lastName').hasError('required'), 'has-success' : !clientForm.get('lastName').hasError('required') }">
                                            <label class="form-control-label">Apellido*</label>
                                            <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                    <input formControlName="lastName" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('lastName').hasError('required'), 'form-control-success' :  !clientForm.get('lastName').hasError('required') }" type="text"> 
                                            </div>
                                        
                                            <span class="help-block text-danger" *ngIf="clientForm.get('lastName').value != '' && clientForm.get('lastName').hasError('required')">Apellido no puede estar vacio</span>                             
                                        </div>

                                    <div class="form-group " [ngClass]="{'has-danger': clientForm.get('cellPhone').hasError('invalidMobile') && clientForm.get('cellPhone').value != '' , 'has-success': !clientForm.get('cellPhone').hasError('invalidMobile')  }">
                                                          <label class="form-control-label">Celular*</label>
                                                        <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                         <input formControlName="cellPhone" [ngClass]="{'form-control-danger' : clientForm.get('cellPhone').value != ''  && clientForm.get('cellPhone').hasError('invalidMobile') , 'form-control-success' :  !clientForm.get('cellPhone').hasError('invalidMobile')  }" maxlength="10" type="text" class="form-control" >
                                                        </div>
                                                        
                                    </div>

                                     <div class="form-group " [ngClass]="{'has-danger': clientForm.get('phone').hasError('required') && clientForm.get('phone').value != '' , 'has-success': !clientForm.get('phone').hasError('required')  && clientForm.get('phone').value != ''  }">
                                                          <label class="form-control-label">Telefonos*</label>
                                                        <div class="input-group">
                                                        <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                         <textarea formControlName="phone" type="number" [ngClass]="{'form-control-danger' : clientForm.get('phone').value != ''  && clientForm.get('phone').hasError('required') , 'form-control-success' :  !clientForm.get('phone').hasError('required')  }"  class="form-control" ></textarea>
                                                        </div>
                                                        
                                    </div>
                                    <div class="form-group">
                                            <label class="form-control-label">No Posee Telefono?</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox">
                                            </span>
                                            <input type="text" class="form-control" placeholder="Telefono Alterno">
                                        </div>
                                    </div>
                                      <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('mail').value != '' && clientForm.get('mail').hasError('required')  || clientForm.get('mail').value != ''  && clientForm.get('mail').hasError('invalidEmail')   ,
                                                 'has-success' : !clientForm.get('mail').hasError('required') && !clientForm.get('mail').hasError('invalidEmail') }">
                                                          <label class="form-control-label">Email*</label>
                                                         <div class="input-group">
                                                        <input formControlName="mail"  [ngClass]="{'form-control-danger' : clientForm.get('mail').value != ''  && clientForm.get('mail').hasError('required') || clientForm.get('mail').value != ''  && clientForm.get('mail').hasError('invalidEmail'), 'form-control-success' :  !clientForm.get('mail').hasError('required') && !clientForm.get('mail').hasError('invalidEmail') }" type="text" class="form-control" >
                                                        </div>
                                                        
                                     </div>
                                      <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('address').value != '' && clientForm.get('address').hasError('required'), 'has-success' : !clientForm.get('address').hasError('required') }">
                                            <label class="form-control-label">Direccion*</label>
                                            <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                    <textarea formControlName="address" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('address').hasError('required'), 'form-control-success' :  !clientForm.get('address').hasError('required') }">
                                                    </textarea>
                                            </div>
                                        
                                            <span class="help-block text-danger" *ngIf="clientForm.get('address').value != '' && clientForm.get('address').hasError('required')">Direccion no puede estar vacio</span>                             
                                        </div>


                                             </div> 
                                             
                                             
                                             
                         <div class="col-md-6">

                                            <div class="card-group">

                                                <div class="card">
                                                        <div class="card-block">
                                                            <h5 class="card-title">Emergencia</h5>

                                                            <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('nameEmergency').value != '' && clientForm.get('nameEmergency').hasError('required'), 'has-success' : !clientForm.get('nameEmergency').hasError('required') }">
                                                                <label class="form-control-label">Nombre*</label>
                                                                <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                        <input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('nameEmergency').hasError('required'), 'form-control-success' :  !clientForm.get('nameEmergency').hasError('required') }" type="text"> 
                                                                </div>
                                                            
                                                                <span class="help-block text-danger" *ngIf="clientForm.get('nameEmergency').value != '' && clientForm.get('nameEmergency').hasError('required')">Nombre no puede estar vacio</span>                             
                                                             </div>

                                                             <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('lastNameEmergency').value != '' && clientForm.get('lastNameEmergency').hasError('required'), 'has-success' : !clientForm.get('lastNameEmergency').hasError('required') }">
                                                                    <label class="form-control-label">Apellido*</label>
                                                                    <div class="input-group">
                                                                            <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                            <input formControlName="lastNameEmergency" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('lastNameEmergency').hasError('required'), 'form-control-success' :  !clientForm.get('lastNameEmergency').hasError('required') }" type="text"> 
                                                                    </div>
                                                                
                                                                    <span class="help-block text-danger" *ngIf="clientForm.get('lastNameEmergency').value != '' && clientForm.get('lastNameEmergency').hasError('required')">Apellido no puede estar vacio</span>                             
                                                                </div>

                                                             
                                                            
                                                        </div>
                                                </div>
                                        
                                        
                                            </div>
                                            <div class="card-group" padding>

                                                <div class="card">
                                                        <div class="card-block">
                                                            <h5 class="card-title">Trabajo</h5>

                                                            <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('nameWork').value != '' && clientForm.get('nameWork').hasError('required'), 'has-success' : !clientForm.get('nameWork').hasError('required') }">
                                                                <label class="form-control-label">Nombre*</label>
                                                                <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                        <input formControlName="nameWork" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('nameWork').hasError('required'), 'form-control-success' :  !clientForm.get('nameWork').hasError('required') }" type="text"> 
                                                                </div>
                                                            
                                                                <span class="help-block text-danger" *ngIf="clientForm.get('nameWork').value != '' && clientForm.get('nameWork').hasError('required')">Nombre no puede estar vacio</span>                             
                                                             </div>

                                                             <div class="form-group " [ngClass]="{'has-danger': clientForm.get('phoneWork').hasError('required') && clientForm.get('phoneWork').value != '' , 'has-success': !clientForm.get('phoneWork').hasError('required')  && clientForm.get('phoneWork').value != ''  }">
                                                                        <label class="form-control-label">Telefonos*</label>
                                                                        <div class="input-group">
                                                                        <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                                                        <textarea formControlName="phoneWork" type="number" [ngClass]="{'form-control-danger' : clientForm.get('phoneWork').value != ''  && clientForm.get('phoneWork').hasError('required') , 'form-control-success' :  !clientForm.get('phoneWork').hasError('required')  }"  class="form-control" ></textarea>
                                                                        </div>
                                                        
                                                                </div>

                                                             
                                                            
                                                        </div>
                                                </div>
                                        
                                        
                                            </div>

                                            <div class="card-group" padding>

                                                <div class="card">
                                                        <div class="card-block">
                                                            <h5 class="card-title">Localizacion</h5>


                                                            <div class="form-group " [ngClass]="{'has-danger' : clientForm.get('nameWork').value != '' && clientForm.get('nameWork').hasError('required'), 'has-success' : !clientForm.get('nameWork').hasError('required') }">
                                                                <label class="form-control-label">Coordenadas</label>
                                                                <div class="input-group">
                                                                        <div (click)="resize()" class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                                                        <input formControlName="nameWork" class="form-control" [ngClass]="{'form-control-danger' :  clientForm.get('nameWork').hasError('required'), 'form-control-success' :  !clientForm.get('nameWork').hasError('required') }" type="text"> 
                                                                </div>
                                                            
                                                                <span class="help-block text-danger" *ngIf="clientForm.get('nameWork').value != '' && clientForm.get('nameWork').hasError('required')">Nombre no puede estar vacio</span>                             
                                                             </div>


                                                             
                                                            
                                                        </div>
                                                </div>
                                        
                                        
                                            </div>

                                                 




                         </div>




                                      

                                    
                                    </form>