<div class="row bottom-30">
   <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>TOP / BOTTOM HORIZONTAL TABS</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="row mbm-20">
                    <div class="col-lg-6 col-12 bottom-30">
                        <div class="clearfix">
                            <ul class="nav nav-tabs top pull-left w-100p">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#ta">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tb">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#tdropdown1" data-toggle="tab">Action</a>
                                        <a class="dropdown-item" href="#tdropdown2" data-toggle="tab">Another action</a>
                                    </div>
                                </li>                          
                            </ul>
                        </div>
                        <div class="tab-content top">
                            <div class="tab-pane active" id="ta">
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                            </div>
                            <div class="tab-pane" id="tb">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                            </div>
                            <div class="tab-pane" id="tdropdown1">
                                <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar.</p>
                            </div>
                            <div class="tab-pane" id="tdropdown2">
                            <p>Aliquam pulvinar lacinia euismod. Sed ante nisi, volutpat a ex vel, dapibus lacinia lacus. Nam pellentesque, ligula nec aliquet fermentum, lectus justo luctus mi.</p>
                            </div>
                        </div>                   
                    </div>

                    <div class="col-lg-6 col-12 bottom-30">                    
                        <div class="tab-content bottom">
                            <div class="tab-pane active" id="ba">
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                            </div>
                            <div class="tab-pane" id="bb">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                            </div>
                            <div class="tab-pane" id="bdropdown1">
                                <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar.</p>
                            </div>
                            <div class="tab-pane" id="bdropdown2">
                            <p>Aliquam pulvinar lacinia euismod. Sed ante nisi, volutpat a ex vel, dapibus lacinia lacus. Nam pellentesque, ligula nec aliquet fermentum, lectus justo luctus mi.</p>
                            </div>
                        </div> 
                        <div class="clearfix">
                            <ul class="nav nav-tabs bottom pull-left w-100p">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#ba">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#bb">Link</a>
                                </li>
                                <li class="nav-item dropup">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropup</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#bdropdown1" data-toggle="tab">Action</a>
                                        <a class="dropdown-item" href="#bdropdown2" data-toggle="tab">Another action</a>
                                    </div>
                                </li>                          
                            </ul>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
              <span>LEFT / RIGHT VERTICAL TABS</span>
              <div class="widget-controls"> 
                  <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                  <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                  <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                  <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                  <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
              </div>        
            </div>
            <div class="card-block widget-body"> 
                
                <div class="row mbm-20">
                    
                    <div class="col-lg-6 col-12 vertical-tabs bottom-30">
                        <div class="row pl-3 pr-3">
                            <ul class="nav flex-column left col-3">
                            <li class="nav-item">
                                <a class="nav-link active" href="#la" data-toggle="tab">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#lb" data-toggle="tab">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
                            </li>
                            </ul>
                            <div class="tab-content col-9">
                                <div class="tab-pane active" id="la">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Pellentesque dapibus molestie eleifend. Nam rhoncus justo sapien, a euismod turpis maximus a. </div>                  
                                <div class="tab-pane" id="lb">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
                                varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. Pellentesque dapibus molestie eleifend. Nam rhoncus justo sapien, a euismod turpis maximus a.</div>
                            </div>
                        </div>                      
                    </div>
                      
                    <div class="col-lg-6 col-12 vertical-tabs bottom-30">
                        <div class="row pl-3 pr-3">
                            <div class="tab-content col-9">
                                <div class="tab-pane active" id="ra">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Pellentesque dapibus molestie eleifend. Nam rhoncus justo sapien, a euismod turpis maximus a.</div>
                                <div class="tab-pane" id="rb">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
                                varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. Pellentesque dapibus molestie eleifend. Nam rhoncus justo sapien, a euismod turpis maximus a.</div>
                            </div>
                            <ul class="nav flex-column right col-3">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#ra" data-toggle="tab">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#rb" data-toggle="tab">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
                                </li>
                            </ul>
                        </div>                        
                    </div> 

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">    
    <div class="col bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>TABS COLORS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">

                <div class="row bottom-30">
                    <div class="col">
                         <ul class="nav nav-tabs top tabs-primary" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#p1" role="tab" data-toggle="tab">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#p2" role="tab" data-toggle="tab">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#p3" role="tab" data-toggle="tab">Other</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-primary">
                            <div class="tab-pane fade show active" id="p1">Curabitur dignissim molestie erat a eleifend.</div>
                            <div class="tab-pane fade" id="p2">Nunc feugiat dolor id quam accumsan, eu hendrerit massa dignissim.</div>
                            <div class="tab-pane fade" id="p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>

                <div class="row bottom-30">
                    <div class="col">
                         <ul class="nav nav-tabs top tabs-success" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#s1" role="tab" data-toggle="tab">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#s2" role="tab" data-toggle="tab">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#s3" role="tab" data-toggle="tab">Other</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-success">
                            <div class="tab-pane fade show active" id="s1">Curabitur dignissim molestie erat a eleifend.</div>
                            <div class="tab-pane fade" id="s2">Nunc feugiat dolor id quam accumsan, eu hendrerit massa dignissim.</div>
                            <div class="tab-pane fade" id="s3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>

                <div class="row bottom-30">
                    <div class="col">
                         <ul class="nav nav-tabs top tabs-info" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#i1" role="tab" data-toggle="tab">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#i2" role="tab" data-toggle="tab">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#i3" role="tab" data-toggle="tab">Other</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-info">
                            <div class="tab-pane fade show active" id="i1">Curabitur dignissim molestie erat a eleifend.</div>
                            <div class="tab-pane fade" id="i2">Nunc feugiat dolor id quam accumsan, eu hendrerit massa dignissim.</div>
                            <div class="tab-pane fade" id="i3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>

                <div class="row bottom-30">
                    <div class="col">
                         <ul class="nav nav-tabs top tabs-warning" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#w1" role="tab" data-toggle="tab">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#w2" role="tab" data-toggle="tab">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#w3" role="tab" data-toggle="tab">Other</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-warning">
                            <div class="tab-pane fade show active" id="w1">Curabitur dignissim molestie erat a eleifend.</div>
                            <div class="tab-pane fade" id="w2">Nunc feugiat dolor id quam accumsan, eu hendrerit massa dignissim.</div>
                            <div class="tab-pane fade" id="w3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                         <ul class="nav nav-tabs top tabs-danger" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#d1" role="tab" data-toggle="tab">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#d2" role="tab" data-toggle="tab">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#d3" role="tab" data-toggle="tab">Other</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-danger">
                            <div class="tab-pane fade show active" id="d1">Curabitur dignissim molestie erat a eleifend.</div>
                            <div class="tab-pane fade" id="d2">Nunc feugiat dolor id quam accumsan, eu hendrerit massa dignissim.</div>
                            <div class="tab-pane fade" id="d3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                        </div>
                    </div>
                </div>

              
            </div>
        </div>
    </div>
</div>

<div class="row mbm-20">    
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>ACCORDION</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>>
                </div>        
            </div>
            <div class="card-block widget-body">

               <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Collapsible Group Item #1
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card card-success">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card card-info">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Collapsible Group Item #4
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="card-block">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card card-warning">
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Collapsible Group Item #5
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="card-block">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card card-danger">
                        <div class="card-header" role="tab" id="headingSix">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Collapsible Group Item #6
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="card-block">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>