<div class="row">
    <div class="col-12">
        <div widget class="card">
            <div class="card-header">
                <span> Nuevo Usuario</span>
                <div class="widget-controls"> 
            
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
           
                </div>        
            </div>
            <div class="card-block widget-body">
                <div class="row">
                    <div *ngFor="let step of steps; let last = last" class="col-md-3 col-sm-6 col-12 step" [class.active]="step.active" [class.valid]="step.valid" [ngClass]="{'last' : last }">
                        <div class="step-icon">
                            <i class="fa {{ step.icon }}" aria-hidden="true"></i>
                        </div> 
                        <span class="step-name" [class.active]="step.active" [class.valid]="step.valid">{{step.name}}</span>    
                    </div> 
                </div>               
             
                <div *ngFor="let step of steps" [hidden]="!step.active" class="col form-wizard">
                    <div class="row form-title">
                        <h4><i class="fa {{ step.icon }}"></i> {{step.name}}</h4>
                    </div>
                        
                    <form *ngIf="step.name=='Informacion de Cuenta'" [formGroup]="accountForm" class="row">
                        <div class="form-group col-md-12" [ngClass]="{'has-danger' : step.hasError && accountForm.get('username').hasError('required'), 'has-success' : !accountForm.get('username').hasError('required') }">
                            <label class="form-control-label">Usuario</label>
                            <div class="input-group"> 
                                <div class="input-group-addon"><i class="fa fa-user-o"></i></div>   
                                <input formControlName="username" class="form-control" [ngClass]="{'form-control-danger' :  accountForm.get('username').hasError('required'), 'form-control-success' :  !accountForm.get('username').hasError('required') }" type="text"> 
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('username').hasError('required')">Usuario es Necesario</span>                             
                        </div>

                        <div class="form-group col-md-12" [ngClass]="{'has-danger' : (step.hasError && accountForm.get('password').hasError('required')) || (step.hasError && accountForm.get('password').hasError('minlength')), 
                                                                     'has-success' : !accountForm.get('password').hasError('required') && !accountForm.get('password').hasError('minlength')}">
                            <label class="form-control-label">Contrasena</label> 
                            <div class="input-group"> 
                                <div class="input-group-addon"><i class="fa fa-key"></i></div>                       
                                <input formControlName="password" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && accountForm.get('password').hasError('required')) || (step.hasError && accountForm.get('password').hasError('minlength')),                                                                                                        'form-control-success' : !accountForm.get('password').hasError('required') && !accountForm.get('password').hasError('minlength')}" type="password">
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('password').hasError('required')">Contrasena es Necesaria</span>                              
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('password').hasError('minlength')">La contrasena debe tener minimo 6 caracteres</span>                            
                        </div>

                        <div class="form-group col-md-12" [ngClass]="{'has-danger' : (step.hasError && accountForm.get('confirmPassword').hasError('required')) || (step.hasError && accountForm.get('confirmPassword').hasError('mismatchedPasswords')), 
                                                                     'has-success' : !accountForm.get('confirmPassword').hasError('required') && !accountForm.get('confirmPassword').hasError('mismatchedPasswords')}">
                            <label class="form-control-label">Confirmar Contrasena</label>                              
                            <div class="input-group"> 
                                <div class="input-group-addon"><i class="fa fa-key"></i></div>     
                                <input formControlName="confirmPassword" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && accountForm.get('confirmPassword').hasError('required')) || (step.hasError && accountForm.get('confirmPassword').hasError('mismatchedPasswords')), 
                                                                                                          'form-control-success' : !accountForm.get('confirmPassword').hasError('required') && !accountForm.get('confirmPassword').hasError('mismatchedPasswords')}" type="password" >
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('confirmPassword').hasError('required')">Password is required</span>                              
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('confirmPassword').hasError('mismatchedPasswords')">Passwords do not match</span> 
                        </div>

                        <div class="form-group col-md-12" [ngClass]="{'has-danger' : (step.hasError && accountForm.get('email').hasError('required')) || (step.hasError && accountForm.get('email').hasError('invalidEmail')), 
                                                            'has-success' : !accountForm.get('email').hasError('required') && !accountForm.get('email').hasError('invalidEmail')}">
                            <label class="form-control-label">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input formControlName="email" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && accountForm.get('email').hasError('required')) || (step.hasError && accountForm.get('email').hasError('invalidEmail')), 
                                                                                                'form-control-success' :  !accountForm.get('email').hasError('required') && !accountForm.get('email').hasError('invalidEmail')}" type="text">                      
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('email').hasError('required')">Email is required</span>                              
                            <span class="help-block text-danger" *ngIf="step.hasError && accountForm.get('email').hasError('invalidEmail')">Invalid email address</span>
                        </div>
                    </form>



                    <form *ngIf="step.name=='Informacion Personal'" [formGroup]="personalForm" class="row">
            
                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('name').hasError('required'), 'has-success' : !personalForm.get('name').hasError('required') }">
                            <label class="form-control-label">Nombre</label>
                            <div class="input-group">
                                      <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                     <input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('name').hasError('required'), 'form-control-success' :  !personalForm.get('name').hasError('required') }" type="text"> 
                            </div>
                           
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('name').hasError('required')">Nombre no puede estar vacio</span>                             
                        </div>

                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('lastName').hasError('required'), 'has-success' : !personalForm.get('lastName').hasError('required') }">
                            <label class="form-control-label">Apellido</label>
                            <div class="input-group">  
                                 <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                  <input formControlName="lastName" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('lastName').hasError('required'), 'form-control-success' :  !personalForm.get('lastName').hasError('required') }" type="text"> 
                            </div>
                          
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('lastName').hasError('required')">Apellido no puede estar vacio</span>                             
                        </div>


                        
                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : (step.hasError && personalForm.get('cedula').hasError('required')), 
                                                                     'has-success' : !personalForm.get('cedula').hasError('required') }">
                            <label class="form-control-label">Cedula</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                                <input formControlName="cedula" class="form-control" [ngClass]="{'form-control-danger' : (step.hasError && personalForm.get('cedula').hasError('required')), 
                                                                                                'form-control-success' :  !personalForm.get('cedula').hasError('required') }" type="number">                      
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('cedula').hasError('required')">Cedula no puede estar Vacio</span>
                        </div>

                        <div class="form-group col-md-5" [ngClass]="{'has-danger' : step.hasError && personalForm.get('telefono').hasError('required'), 'has-success' : !personalForm.get('telefono').hasError('required') }">
                            <label class="form-control-label">Telefono</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input formControlName="telefono" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('telefono').hasError('required'), 'form-control-success' :  !personalForm.get('telefono').hasError('required') }" type="number"> 
                            </div>
                            <span class="help-block text-danger" *ngIf="step.hasError && personalForm.get('telefono').hasError('required')">Telefono esta vacio</span>                             
                        </div>
                        
                          <div class="form-group col-md-12">
                            <label for="input-12">Fecha de Nacimiento</label>
                            <input formControlName="birthDate"  class="form-control" type="date" class="form-control">
                        </div>

                        
                        <div class="form-group col-md-12" >
                            <label class="form-control-label">Direccion</label>
                            <textarea formControlName="direccion" class="form-control"></textarea>
                        </div>                     
                    </form>

                    <form *ngIf="step.name=='Roles'" [formGroup]="paymentForm" class="row">
             

                      

                   

                     
                    </form>
                   
                    <div *ngIf="step.name=='Confirmar la Creacion'" class="row">

                        <div class="col-2"><strong class="text-truncate">Usuario:</strong></div>
                        <div class="col-10"><i>{{details.username}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Nombre Completo:</strong></div>
                        <div class="col-10"><i>{{details.fullname}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Cedula:</strong></div>
                        <div class="col-10"><i>{{details.cedula}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Email:</strong></div>
                        <div class="col-10"><i>{{details.email}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Telefono:</strong></div>
                        <div class="col-10"><i>{{details.telefono}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Fecha de Nacimiento:</strong></div>
                        <div class="col-10"><i>{{details.birthDate}}</i></div>
                        <div class="col-2"><strong class="text-truncate">Direccion</strong></div>
                        <div class="col-10"><i>{{details.direccion}} &nbsp;</i></div>
       
                    </div>

                </div> 

                <div class="row"> 
                    <div class="col-12">
                        <button *ngIf="!steps[0].active" class="btn btn-primary pull-left" (click)="prev()"><i class="fa fa-chevron-left arrow"></i>&nbsp; Atras</button>
                        <button *ngIf="!steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="next()">Siguiente &nbsp;<i class="fa fa-chevron-right arrow"></i></button>
                        <button *ngIf="steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="saveUser()">Confirmar &nbsp;<i class="fa fa-check arrow"></i></button>
                    </div> 
                </div>         

            </div>
        </div>
    </div>
</div>